@page "/baseballteamstats/{id}"
@using League.Builder.Web.Server.Services.Cache
@inject IPlayerService PlayerService
@inject IStatsService StatService
@inject ISeasonService SeasonService
@inject IGameService GameService
@inject ITeamService TeamService
@inject ILeagueService LeagueService
@inject IAWSService AWSService
@inject IDialogService DialogService
@inject NavigationManager NavManager
@inject ErrorState ErrorState
@inject IHttpContextAccessor HttpContextAccessor
@inject IPlayerLocalCacheService PlayerLocalCache
@inject IStatsLocalCacheService StatsLocalCache
@inject ISeasonLocalCacheService SeasonLocalCache
@inject IGameLocalCacheService GameLocalCache
@inject ITeamLocalCacheService TeamLocalCache
@inject ILeagueLocalCacheService LeagueLocalCache
@inject IJSRuntime JsRuntime
@inject KeycloakTokenService KeycloakTokenService
@inject ImageService ImageService

<AuthorizeView Roles="@String.Concat(Roles.ReadStats, ", ", Roles.ReadSeasons, ", ", Roles.ReadGames, ", ", Roles.ReadTeams, ", ", Roles.ReadPlayers)" Context="auth">
    <Authorized>
        @if (PageLoad)
        {
            <MudItem Class="py-25">
                <MudExpansionPanels>
                    <MudExpansionPanel Expanded="expandSearchPanel" Class="border border-solid" Style="border-color: #000000">
                        <TitleContent>
                            <MudText Typo="Typo.h4" Align="Align.Center" Class="font-bold">
                                <MudStack Row="true" Justify="Justify.Center">
                                    <MudAvatar Size="Size.Medium">
                                        <MudImage Src="@TeamModel.Team.ImageFile" Alt="Team Image"></MudImage>
                                    </MudAvatar>
                                    @SeasonModel.Season.Year @TeamModel.Team.TeamName Stats
                                </MudStack>
                            </MudText>
                        </TitleContent>
                        <ChildContent>
                            <MudStack Justify="Justify.FlexStart" Row="true" Class="pt-6">
                                <MudItem xs="7">
                                    <style>
                                        .team-popover .mud-list-item:hover,
                                        .team-popover .mud-list-item.mud-selected-item {
                                            background-color: @(TeamModel.Team.TeamColor) !important;
                                            color: white !important;
                                        }

                                        .team-popover:focus-within .mud-input-label {
                                            color: @(TeamModel.Team.TeamColor) !important;
                                        }

                                        .team-select:hover .mud-input-label {
                                            color: @(TeamModel.Team.TeamColor) !important;
                                        }

                                        .team-select .mud-input-label.mud-focused {
                                            color: @(TeamModel.Team.TeamColor) !important;
                                        }

                                        .team-select:focus-within .mud-input-label {
                                            color: @(TeamModel.Team.TeamColor) !important;
                                        }

                                        .team-select:hover .mud-input-underline:before {
                                            border-bottom: 2px solid @(TeamModel.Team.TeamColor) !important;
                                        }

                                        .team-select .mud-input-underline:after {
                                            border-bottom: 2px solid @(TeamModel.Team.TeamColor) !important;
                                        }

                                        .team-select.mud-input-root .mud-input-underline:after {
                                            border-bottom-color: @(TeamModel.Team.TeamColor) !important;
                                        }

                                    </style>
                                    <div class="team-select">
                                        <MudSelect @bind-Value="seasonValue"
                                                   Placeholder="@seasonPlaceholder"
                                                   Label="@seasonPlaceholder" PopoverClass="team-popover">
                                            @foreach (var season in SeasonsModel.Seasons)
                                            {
                                                <MudSelectItem Value="@season.Year">@season.Year</MudSelectItem>
                                            }
                                        </MudSelect>
                                    </div>
                                </MudItem>
                                <MudItem xs="2">

                                </MudItem>
                                <MudItem xs="3" Class="p-3" Style="align-content: center;">
                                    <MudButton Disabled="@(seasonValue <= 0)" OnClick="GetTeamStatsBySeason" Variant="Variant.Filled" Class="ml-auto" Style="@($"background-color: {TeamModel.Team.TeamColor}; width: 200px;")">Search</MudButton>
                                </MudItem>
                            </MudStack>
                        </ChildContent>
                    </MudExpansionPanel>
                </MudExpansionPanels>
            </MudItem>
            <style>
                .custom-tab-bar .mud-tabs-tabbar {
                    background-color: @TeamModel.Team.TeamColor !important; /* Change to your color */
                    color: white; /* Optional: Change text/icon color */
                }

                /* Active tab */
                .custom-tab-bar .mud-tab.mud-tab-active {
                    color: white !important;
                    border-bottom-color: white;
                }

                .custom-tab-bar .mud-tab-slider {
                    background-color: white !important;
                }
            </style>
            <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" Centered="true" Class="border border-solid p-25 custom-tab-bar" Style=" border-color: #000000;">
                <MudTabPanel Text="Hitting Stats">
                    <MudItem Class="py-25">
                        <HittingTotalsCard Totals="TeamHittingTotals"
                                           OnInfoClick="OpenStatDialogAsync"
                                           TeamColor="@TeamModel.Team.TeamColor"/>
                        <PlayerTeamHittingStatsTable Rows="TeamStats.Players"
                                                     TeamColor="@TeamModel.Team.TeamColor" />
                 </MudItem>
                </MudTabPanel>
                <MudTabPanel Text="Pitching Stats">
                    <MudItem Class="py-25">
                        <PitchingTotalsCard Totals="TeamPitchingTotals"
                                            OnInfoClick="OpenStatDialogAsync"
                                            TeamColor="@TeamModel.Team.TeamColor" />
                        <PlayerTeamPitchingStatsTable Rows="TeamStats.Players" 
                                                      TeamColor="@TeamModel.Team.TeamColor" />
                    </MudItem>
                </MudTabPanel>
            </MudTabs>
        }
        else
        {
            <Loading />
        }


    </Authorized>
    <NotAuthorized>
        <NoAccess />
    </NotAuthorized>
</AuthorizeView>


@code {
    [Parameter]
    public string Id { get; set; }
    private bool PageLoad = false;
    private int seasonValue;
    private string seasonPlaceholder = "Season";
    private string imageFile = string.Empty;
    private bool expandSearchPanel = false;
    private IJSObjectReference? _module;

    BaseballHittingTotalsModel TeamHittingTotals = new();
    BaseballPitchingTotalsModel TeamPitchingTotals = new();

    private TeamStatRecord TeamStats { get; set; } = new();
    GetSeasonsResponse SeasonsModel { get; set; }
    GetSeasonByYearResponse SeasonModel { get; set; }
    GetTeamByIdResponse TeamModel { get; set; }
    GetPlayerBaseballStatsBySeasonResponse StatsModel { get; set; }
    GetLeagueByIdResponse LeagueModel { get; set; }
    GetPlayersByTeamResponse PlayersByTeam { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await LoadAllAsync();
            PageLoad = true;
        }
        catch (Exception ex)
        {
            if (KeycloakTokenService.ShouldForceLogout())
            {
                _module = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./js/authRefresh.js");
                await _module.InvokeVoidAsync("logout");
            }
            ErrorState.Message = ex.Message;
            NavManager.NavigateTo("/error");
        }
    }

    private async Task LoadAllAsync()
    {
        var teamId = Guid.Parse(Id);
        int year = DateTime.Now.Year;

        SeasonsModel = await LoadSeasonsAsync();
        seasonValue = SeasonsModel.Seasons.FirstOrDefault(x => x.Year == year).Year;

        TeamModel = await LoadTeamAsync(teamId);
        LeagueModel = await LoadLeagueAsync(TeamModel.Team.LeagueId);

        SeasonModel = await LoadSeasonAsync(year);

        await CreatePlayerStats(teamId, SeasonModel.Season.Id);

        TeamModel.Team.ImageFile = await ImageService.GetTeamImageAsync(LeagueModel.League, TeamModel.Team);

    }

    private async Task CreatePlayerStats(Guid teamId, Guid seasonId)
    {
        await LoadPlayersAndImages(teamId);
        TeamHittingTotals = new();
        TeamPitchingTotals = new();

        foreach (var player in PlayersByTeam.Players)
        {
            var playerHitting = new BaseballHittingTotalsModel();
            var playerPitching = new BaseballPitchingTotalsModel();
            int gamesPlayed = 0;

            StatsModel = await LoadPlayerStatsBySeasonAsync(player.Id, SeasonModel.Season.Id);

            AccumulatePlayerStats(StatsModel.BaseballStats, playerHitting, playerPitching, ref gamesPlayed);
            FinializePlayerStats(playerHitting, playerPitching);

            AccumulateTeamStats(StatsModel.BaseballStats);
            BuildRow(player, playerHitting, playerPitching, gamesPlayed);
        }

        FinalizeTeamStats();
    }

    private async Task LoadPlayersAndImages(Guid teamId)
    {
        PlayersByTeam = await LoadPlayersByTeamAsync(teamId);
        await GetImageAsync(PlayersByTeam.Players);
    }

    private void BuildRow(PlayerModel player, BaseballHittingTotalsModel playerHitting, BaseballPitchingTotalsModel playerPitching, int gamesPlayed)
    {
        var hittingStat = new BaseballHittingStatsModel(playerHitting.AtBats, playerHitting.Hits,
                                                            playerHitting.TBs, playerHitting.Runs,
                                                            playerHitting.Doubles, playerHitting.Triples,
                                                            playerHitting.HomeRuns, playerHitting.RBIs,
                                                            playerHitting.SBs, playerHitting.Strikeouts, playerHitting.Walks,
                                                            playerHitting.HBPs, playerHitting.SFs, playerHitting.BattingAverage, playerHitting.Slugging,
                                                            playerHitting.OBP, playerHitting.OPS);

        var pitchingStat = new BaseballPitchingStatsModel(playerPitching.Wins, playerPitching.Losses,
                                                          playerPitching.Runs, false, playerPitching.Saves,
                                                          playerPitching.Innings, playerPitching.HitsAllowed,
                                                          playerPitching.WalksAllowed, playerPitching.Strikeouts,
                                                          playerPitching.WHIP, playerPitching.ERA);

        TeamStats.Players.Add(new PlayerStatsRecord(player, new BaseballSeasonStats(hittingStat, pitchingStat,
                                                                                    playerPitching.Starts, gamesPlayed)));
    }

    private void AccumulateTeamStats(IEnumerable<BaseballStatsModel> stats)
    {
        foreach(var s in stats)
        {
            TeamHittingTotals.AtBats += s.HittingStats.AtBats;
            TeamHittingTotals.Hits += s.HittingStats.Hits;
            TeamHittingTotals.TBs += s.HittingStats.TotalBases;
            TeamHittingTotals.Walks += s.HittingStats.Walks;
            TeamHittingTotals.HBPs += s.HittingStats.HitByPitch;
            TeamHittingTotals.SFs += s.HittingStats.SacrificeFly;
            TeamPitchingTotals.WalksAllowed += s.PitchingStats.WalksAllowed;
            TeamPitchingTotals.Runs += s.PitchingStats.Runs;
            TeamPitchingTotals.HitsAllowed += s.PitchingStats.HitsAllowed;
            TeamPitchingTotals.Innings += s.PitchingStats.Innings;
        }
    }

    private void FinalizeTeamStats()
    {
        TeamHittingTotals.BattingAverage = SafeAvg(TeamHittingTotals.Hits, TeamHittingTotals.AtBats);
        TeamHittingTotals.Slugging = SafeSlugging(TeamHittingTotals.TBs, TeamHittingTotals.AtBats);
        TeamHittingTotals.OBP = SafeOBP(TeamHittingTotals.Hits, TeamHittingTotals.Walks, TeamHittingTotals.HBPs, TeamHittingTotals.SFs);
        TeamHittingTotals.OPS = TeamHittingTotals.OBP + TeamHittingTotals.OPS;
        TeamPitchingTotals.ERA = SafeERA(TeamPitchingTotals.Runs, TeamPitchingTotals.Innings);
        TeamPitchingTotals.WHIP = SafeWHIP(TeamPitchingTotals.WalksAllowed, TeamPitchingTotals.HitsAllowed, TeamPitchingTotals.Innings);
    }

    private void AccumulatePlayerStats(IEnumerable<BaseballStatsModel> stats, BaseballHittingTotalsModel playerHitting, BaseballPitchingTotalsModel playerPitching, ref int gamesPlayed)
    {
        foreach(var s in stats)
        {
            playerHitting.AtBats += s.HittingStats.AtBats;
            playerHitting.Hits += s.HittingStats.Hits;
            playerHitting.TBs += s.HittingStats.TotalBases;
            playerHitting.Runs += s.HittingStats.Runs;
            playerHitting.Doubles += s.HittingStats.Doubles;
            playerHitting.Triples += s.HittingStats.Triples;
            playerHitting.HomeRuns += s.HittingStats.HomeRuns;
            playerHitting.RBIs += s.HittingStats.RunsBattedIn;
            playerHitting.SBs += s.HittingStats.StolenBases;
            playerHitting.Strikeouts += s.HittingStats.Strikeouts;
            playerHitting.Walks += s.HittingStats.Walks;
            playerHitting.HBPs += s.HittingStats.HitByPitch;
            playerHitting.SFs += s.HittingStats.SacrificeFly;
            playerPitching.WalksAllowed += s.PitchingStats.WalksAllowed;
            playerPitching.Runs += s.PitchingStats.Runs;
            playerPitching.HitsAllowed += s.PitchingStats.HitsAllowed;
            playerPitching.Innings += s.PitchingStats.Innings;
            playerPitching.Wins += s.PitchingStats.Wins;
            playerPitching.Losses += s.PitchingStats.Losses;
            playerPitching.Starts += s.PitchingStats.Start ? 1 : 0;
            playerPitching.Saves += s.PitchingStats.Saves;
            playerPitching.Strikeouts += s.PitchingStats.PitchingStrikeouts;

            if (s.HittingStats.AtBats > 0 || s.PitchingStats.Innings > 0)
                gamesPlayed++;
        }
    }

    private void FinializePlayerStats(BaseballHittingTotalsModel hit, BaseballPitchingTotalsModel pitch)
    {
        hit.BattingAverage = SafeAvg(hit.Hits, hit.AtBats);
        hit.Slugging = SafeSlugging(hit.TBs, hit.AtBats);
        hit.OBP = SafeOBP(hit.Hits, hit.Walks, hit.HBPs, hit.SFs);
        hit.OPS = hit.OBP + hit.Slugging;
        
        pitch.ERA = SafeERA(pitch.Runs, pitch.Innings);
        pitch.WHIP = SafeWHIP(pitch.WalksAllowed, pitch.HitsAllowed, pitch.Innings);

    }


    private async Task GetImageAsync(IEnumerable<PlayerModel> players)
    {
        foreach(var player in players)
            player.Image = await ImageService.GetPlayerImageAsync(LeagueModel.League, TeamModel.Team, player);
    }

    private async Task GetTeamStatsBySeason()
    {
        PageLoad = false;
        var teamId = Guid.Parse(Id);

        TeamHittingTotals = new();
        TeamPitchingTotals = new();
        TeamStats.Players.Clear();

        SeasonModel = await LoadSeasonAsync(seasonValue);
        await CreatePlayerStats(teamId, SeasonModel.Season.Id);
        PageLoad = true;
    }

    private Task OpenStatDialogAsync(string message)
    {
        var parameters = new DialogParameters<StatInfoMessageBox> { { x => x.Message, message } };
        var options = new DialogOptions { CloseOnEscapeKey = true, MaxWidth = MaxWidth.Small, FullWidth = true };

        return DialogService.ShowAsync<StatInfoMessageBox>("Stat Info", parameters, options);
    }

    private decimal SafeAvg(int numerator, int denominator) =>
        denominator == 0 ? 0 : (decimal)numerator / denominator;

    private decimal SafeSlugging(int totalBases, int atBats) =>
        atBats == 0 ? 0 : (decimal)totalBases / atBats;

    private decimal SafeOBP(int hits, int walks, int hbp, int sf)
    {
        var num = hits + walks + hbp;
        var den = num + sf;
        return den == 0 ? 0 : (decimal)num / den;
    }

    private decimal SafeERA(int runs, decimal innings) =>
        innings == 0 ? 0 : (decimal)runs / innings * 9;

    private decimal SafeWHIP(int walks, int hits, decimal innings) =>
        innings == 0 ? 0 : (decimal)(walks + hits) / innings;


    private Task<GetSeasonsResponse> LoadSeasonsAsync() =>
        DataLoader.GetOrLoad(
            () => SeasonLocalCache.GetSeasonsCache(),
            () => SeasonService.GetSeasons(),
            (s) => SeasonLocalCache.SetSeasonsCache(s)
    );

    private Task<GetSeasonByYearResponse> LoadSeasonAsync(int year) =>
        DataLoader.GetOrLoad(
            () => SeasonLocalCache.GetSeasonByYearCache(year),
            () => SeasonService.GetSeasonByYear(year),
            (s) => SeasonLocalCache.SetSeasonByYearCache(year, s)
    );

    private Task<GetTeamByIdResponse> LoadTeamAsync(Guid id) =>
        DataLoader.GetOrLoad(
            () => TeamLocalCache.GetTeamByIdCache(id.ToString()),
            () => TeamService.GetTeamById(id),
            (t) => TeamLocalCache.SetTeamByIdCache(id.ToString(), t)
    );

    private Task<GetLeagueByIdResponse> LoadLeagueAsync(Guid id) =>
        DataLoader.GetOrLoad(
            () => LeagueLocalCache.GetLeagueByIdCache(id.ToString()),
            () => LeagueService.GetLeague(id),
            (l) => LeagueLocalCache.SetLeagueByIdCache(id.ToString(), l)
    );

    private Task<GetPlayersByTeamResponse> LoadPlayersByTeamAsync(Guid teamId) =>
        DataLoader.GetOrLoad(
            () => PlayerLocalCache.GetPlayersByTeamCache(teamId.ToString()),
            () => PlayerService.GetPlayersByTeam(teamId),
            (p) => PlayerLocalCache.SetPlayersByTeamCache(teamId.ToString(), p)
    );

    private Task<GetPlayerBaseballStatsBySeasonResponse> LoadPlayerStatsBySeasonAsync(Guid id, Guid seasonId) =>
        DataLoader.GetOrLoad(
            () => StatsLocalCache.GetPlayerBaseballStatsBySeasonCache(id.ToString(), seasonId.ToString()),
            () => StatService.GetPlayerBaseballStatsBySeason(id, seasonId),
            (s) => StatsLocalCache.SetPlayerBaseballStatsBySeasonCache(id.ToString(), seasonId.ToString(), s)
    );

    
}
