@page "/createteam/{id}"
@using League.Builder.Web.Server.Services.Cache
@inject ITeamService TeamService
@inject ILeagueService LeagueService
@inject IStandingsService StandingsService
@inject ISeasonService SeasonService
@inject NavigationManager NavManager
@inject ErrorState ErrorState
@inject IHttpContextAccessor HttpContextAccessor
@inject ISnackbar Snackbar
@inject IWebHostEnvironment env
@inject IAWSService AWSService
@inject IValidator<CreateTeamModel> CreateTeamValidator
@inject IDialogService DialogService
@inject ILeagueLocalCacheService LeagueLocalCache
@inject ITeamLocalCacheService TeamLocalCache
@inject ISeasonLocalCacheService SeasonLocalCache
@inject IStandingsLocalCacheService StandingsLocalCache
@inject IJSRuntime JsRuntime
@inject KeycloakTokenService KeycloakTokenService
@inject ImageService ImageService

<AuthorizeView Roles="@String.Concat(Roles.CreateTeams, ", ", Roles.CreateStandings)" Context="auth">
    <Authorized>
        @if (PageLoad)
        {
            <MudItem Class="pt-12">
                <MudPaper Class="border border-solid p-25" Style="border-color: #000000;">
                    <MudText Typo="Typo.h4" Align="Align.Center" Style="font-weight:bold">Create Team</MudText>
                </MudPaper>
            </MudItem>
            <MudItem Class="mt-50 mb-50">
                <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
                    <FluentValidationValidator @ref="fluentValidationValidator" />
                    <MudPaper Class="border border-solid p-25" Style="border-color: #000000; width: 100%;">
                        <MudStepper @bind-ActiveIndex="_index" OnPreviewInteraction="@OnStepInteraction" CurrentStepColor="Color.Secondary" CompletedStepColor="Color.Success">
                            <ChildContent>
                                <MudStep Title="Create Team Information">
                                    <MudGrid Justify="Justify.Center">
                                        <MudItem xs="12" sm="10">
                                            @Card(@<div>
                                                @StepHeader(Icons.Material.Filled.Info, "Team Information")
                                                <MudTextField Required Label="Team Name" HelperText="Max. 150 characters"
                                                              @bind-Value="model.TeamName" For="@(() => model.TeamName)" Clearable/>
                                                <MudSelect Required="true" Class="mt-3" Label="League" @bind-Value="leagueId">
                                                    @foreach (var league in LeaguesResponse.Leagues.Where(l => l.Id == leagueId))
                                                    {
                                                        <MudSelectItem Value="league.Id">@league.Name</MudSelectItem>
                                                    }
                                                </MudSelect>
                                                </div>)
                                        </MudItem>
                                    </MudGrid>
                                </MudStep>
                                <MudStep Title="Create Team Admin">
                                    <MudGrid Justify="Justify.Center">
                                        <MudItem xs="12" sm="9">
                                            @Card(@<div>
                                                    @StepHeader(Icons.Material.Filled.AdminPanelSettings, "Team Admin")
                                                <MudTextField Required Label="First Name" Class="mt-3"
                                                              @bind-Value="model.FirstName" For="@(() => model.FirstName)" Clearable/>
                                                <MudTextField Required Label="Last Name" Class="mt-3"
                                                              @bind-Value="model.LastName" For="@(() => model.LastName)" Clearable />
                                                <MudTextField Required Label="Email Address" Class="mt-3"
                                                              @bind-Value="model.EmailAddress" For="@(() => model.EmailAddress)" Clearable />
                                                <MudTextField Label="Description" Class="mt-3"
                                                              @bind-Value="model.Description" For="@(() => model.Description)" Clearable />
                                                </div>)
                                        </MudItem>
                                    </MudGrid>
                                </MudStep>
                                <MudStep Title="Create Team Manager">
                                    <MudGrid Justify="Justify.Center">
                                        <MudItem xs="12" sm="9">
                                            @Card(@<div>
                                                @StepHeader(Icons.Material.Filled.Person, "Team Manager")
                                                <MudTextField Required Label="First Name" Class="mt-3"
                                                              @bind-Value="model.ManagerFirstName" For="@(() => model.ManagerFirstName)" Clearable/>
                                                <MudTextField Required Label="Last Name" Class="mt-3"
                                                              @bind-Value="model.ManagerLastName" For="@(() => model.ManagerLastName)" Clearable/>
                                                <MudTextField Required Label="Email Address" Class="mt-3"
                                                              @bind-Value="model.ManagerEmailAddress" For="@(() => model.ManagerEmailAddress)" Clearable/>
                                            </div>)
                                        </MudItem>
                                    </MudGrid>
                                </MudStep>
                                <MudStep Title="Create Team Address">
                                    <MudGrid Justify="Justify.Center">
                                        <MudItem xs="12" sm="9">
                                            @Card(@<div>
                                                @StepHeader(Icons.Material.Filled.House, "Team Address")
                                                <MudTextField Required Label="Address Line" Class="mt-3"
                                                              @bind-Value="model.AddressLine" For="@(() => model.AddressLine)" Clearable/>
                                                <MudTextField Required Label="City" Class="mt-3"
                                                              @bind-Value="model.City" For="@(() => model.City)" Clearable />
                                                <MudSelect Required Class="mt-3" Label="State" @bind-Value="model.State">
                                                    @StateOptions
                                                </MudSelect>
                                                <MudSelect Required Class="mt-3" Label="Country" @bind-Value="model.Country">
                                                    @CountryOptions
                                                </MudSelect>
                                                <MudTextField Required Label="Zip Code" Class="mt-3"
                                                              @bind-Value="model.ZipCode" For="@(() => model.ZipCode)" Clearable />
                                            </div>)
                                        </MudItem>
                                    </MudGrid>
                                </MudStep>
                                <MudStep Title="Review">
                                    <MudGrid Justify="Justify.Center">
                                        <MudItem xs="12" sm="10">
                                            @Card(@<div>
                                                @StepHeader(Icons.Material.Filled.RemoveRedEye, "Review")
                                                    <MudTextField Required Label="Team Name" HelperText="Max. 50 characters"
                                                                  @bind-Value="model.TeamName" For="@(() => model.TeamName)" ReadOnly />
                                                    <MudSelect Required Class="mt-3" Label="League" @bind-Value="leagueId" ReadOnly>
                                                        @foreach (var league in LeaguesResponse.Leagues.Where(l => l.Id == leagueId))
                                                        {
                                                            <MudSelectItem Value="league.Id">@league.Name</MudSelectItem>
                                                        }
                                                    </MudSelect>
                                                    <MudTextField Required Label="First Name" Class="mt-3"
                                                                  @bind-Value="model.FirstName" For="@(() => model.FirstName)" ReadOnly />
                                                    <MudTextField Required Label="Last Name" Class="mt-3"
                                                                  @bind-Value="model.LastName" For="@(() => model.LastName)" ReadOnly />
                                                    <MudTextField Required Label="Email Address" Class="mt-3"
                                                                  @bind-Value="model.EmailAddress" For="@(() => model.EmailAddress)" ReadOnly />
                                                    <MudTextField Label="Description" Class="mt-3"
                                                                  @bind-Value="model.Description" For="@(() => model.Description)" ReadOnly />
                                                    <MudTextField Required Label="Manager First Name" Class="mt-3"
                                                                  @bind-Value="model.ManagerFirstName" For="@(() => model.ManagerFirstName)" ReadOnly />
                                                    <MudTextField Required Label="Manager Last Name" Class="mt-3"
                                                                  @bind-Value="model.ManagerLastName" For="@(() => model.ManagerLastName)" ReadOnly />
                                                    <MudTextField Required Label="Manager Email Address" Class="mt-3"
                                                                  @bind-Value="model.ManagerEmailAddress" For="@(() => model.ManagerEmailAddress)" ReadOnly />
                                                    <MudTextField Required Label="Address Line" Class="mt-3"
                                                                  @bind-Value="model.AddressLine" For="@(() => model.AddressLine)" ReadOnly />
                                                    <MudTextField Required Label="City" Class="mt-3"
                                                                  @bind-Value="model.City" For="@(() => model.City)" ReadOnly/>
                                                    <MudSelect Required ReadOnly Class="mt-3" Label="State" @bind-Value="model.State">
                                                        @foreach (var state in states)
                                                        {
                                                            <MudSelectItem Value="state">@state</MudSelectItem>
                                                        }
                                                    </MudSelect>
                                                    <MudSelect Required ReadOnly Class="mt-3" Label="Country" @bind-Value="model.Country">
                                                        @foreach (var country in countries)
                                                        {
                                                            <MudSelectItem Value="country">@country</MudSelectItem>
                                                        }
                                                    </MudSelect>
                                                    <MudTextField Required Label="Zip Code" Class="mt-3"
                                                                  @bind-Value="model.ZipCode" For="@(() => model.ZipCode)" ReadOnly/>
                                                    <MudStack Row="true" Class="padtop-20">
                                                        <MudFileUpload @ref="@_fileUpload"
                                                                        T="IBrowserFile"
                                                                        For="@(() => model.File)"
                                                                        @bind-Files="model.File" CustomContent="UploadButton">
                                                        </MudFileUpload>
                                                    </MudStack>
                                            </div>,
                                            @<MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" FullWidth="true">Create</MudButton>)
                                        </MudItem>
                                    </MudGrid>
                                </MudStep>
                            </ChildContent>
                            <ActionContent Context="stepper">
                                <MudIconButton OnClick="@(() => stepper.PreviousStepAsync())"
                                               Icon="@Icons.Material.Filled.ArrowBack"
                                               Color="Color.Primary"
                                               Disabled="_index == 0">
                                </MudIconButton>
                                <MudSpacer />
                                <MudIconButton OnClick="@(() => stepper.NextStepAsync())"
                                               Icon="@Icons.Material.Filled.ArrowForward"
                                               Color="Color.Primary"
                                               Disabled="_index == 4">
                                </MudIconButton>
                            </ActionContent>
                        </MudStepper>
                    </MudPaper>
                </EditForm>
            </MudItem>
        }
        else
        {
            <Loading />
        }
    </Authorized>
    <NotAuthorized>
        <NoAccess />
    </NotAuthorized>
</AuthorizeView>
@code {
    // Add image selection when next version is worked
    [Parameter]
    public string Id { get; set; }
    private IJSObjectReference? _module;
    CreateTeamModel model = new CreateTeamModel();
    private GetLeaguesResponse LeaguesResponse { get; set; }
    private GetSeasonByYearResponse SeasonModel { get; set; }
    private string leagueValue;
    private List<string> states;
    private List<string> countries;
    private Guid leagueId;
    bool success;
    bool _placeholder = true;
    bool PageLoad = false;
    private int _index;
    private bool canProceed = false;
    private List<string> errors = new();
    private MudFileUpload<IBrowserFile> _fileUpload;
    private FluentValidationValidator fluentValidationValidator;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await LoadAllAsync();
            PageLoad = true;
        }
        catch (Exception ex)
        {
            await HandleError(ex);
        }

    }

    private async Task LoadAllAsync()
    {
        leagueId = Guid.Parse(Id);

        LeaguesResponse = await LoadLeaguesAsync();

        states = Constants.States();
        countries = Constants.Countries();
    }

    private async Task OnValidSubmit(EditContext context)
    {
        try
        {
            var league = LeaguesResponse.Leagues.FirstOrDefault(l => l.Id == Guid.Parse(Id));
            await UploadTeamImageAsync(league);
            var response = await CreateTeamAsync();
            //Create Standings after Team Creation
            SeasonModel = await LoadSeasonAsync();
            await CreateTeamStandingsAsync(response);
            await ClearTeamCache();
            Snackbar.Add("Team has been created.", MudBlazor.Severity.Success);
            NavManager.NavigateTo($"/teamsbyleague/{leagueId.ToString()}");
        }
        catch (Exception ex)
        {
            await HandleError(ex);
        }
    }

    private async Task UploadTeamImageAsync(LeagueModel league)
    {
        model.ImageFile = model.File?.Name;

        await ImageService.UploadNewTeamImageAsync(league, model);
    }

    private async Task<CreateTeamResponse> CreateTeamAsync()
    {
        Models.Team.AddressModel address = new Models.Team.AddressModel(model.FirstName, model.LastName, model.EmailAddress, model.AddressLine, model.City, model.Country, model.State, model.ZipCode);
        Models.Team.ManagerModel manager = new Models.Team.ManagerModel(model.ManagerFirstName, model.ManagerFirstName, model.ManagerEmailAddress);
        CreateTeamRequest request = new CreateTeamRequest(new CreateTeamRecord(leagueId, model.TeamName, address, model.Description, model.ImageFile, manager));
        return await TeamService.CreateTeam(request);
    }

    private async Task CreateTeamStandingsAsync(CreateTeamResponse response)
    {
        StandingsDetailModel standingsDetailModel = new StandingsDetailModel(0, 0, 0, 0, false, false);
        TeamDetailModel teamDetailModel = new TeamDetailModel(response.Id, model.TeamName);
        CreateStandingsModel createStandingsModel = new CreateStandingsModel(leagueId, SeasonModel.Season.Id, standingsDetailModel, teamDetailModel);
        CreateStandingsRequest standingsRequest = new CreateStandingsRequest(createStandingsModel);
        await StandingsService.CreateStandings(standingsRequest);
    }

    private async Task ClearTeamCache()
    {
        await StandingsLocalCache.DeleteStandingsByLeagueCache(leagueId.ToString());
        await TeamLocalCache.DeleteTeamsCache();
        await TeamLocalCache.DeleteTeamsByNameCache();
        await TeamLocalCache.DeleteTeamsByLeagueCache(Id);
    }

    private async Task OnStepInteraction(StepperInteractionEventArgs args)
    {
        canProceed = false;
        await ValidateCurrentStep();
        if (args.Action == StepAction.Complete && !canProceed)
        {
            await OpenErrorDialogAsync();
            args.Cancel = true;

        }
    }

    private async Task ValidateCurrentStep()
    {
        errors.Clear();

        var properties = _index switch
        {
            0 => new[] { nameof(CreateTeamModel.TeamName) },
            1 => new[] { nameof(CreateTeamModel.FirstName), nameof(CreateTeamModel.LastName), nameof(CreateTeamModel.EmailAddress) },
            2 => new[] { nameof(CreateTeamModel.ManagerFirstName), nameof(CreateTeamModel.ManagerLastName), nameof(CreateTeamModel.ManagerEmailAddress) },
            3 => new[] { nameof(CreateTeamModel.AddressLine), nameof(CreateTeamModel.State), nameof(CreateTeamModel.Country), nameof(CreateTeamModel.ZipCode) },
            _ => Array.Empty<string>()
        };

        if (properties.Length == 0)
        {
            canProceed = true;
            return;
        }

        var result = await CreateTeamValidator.ValidateAsync(
            model,
            options => options.IncludeProperties(properties)
        );

        canProceed = result.IsValid;

        foreach (var error in result.Errors)
            errors.Add(error.ErrorMessage);
    }

    private Task OpenErrorDialogAsync()
    {
        var parameters = new DialogParameters<ErrorMessageBox> { { x => x.Errors, errors } };
        var options = new DialogOptions { CloseOnEscapeKey = true, MaxWidth = MaxWidth.Small, FullWidth = true };

        return DialogService.ShowAsync<ErrorMessageBox>("Errors", parameters, options);
    }

    private async Task HandleError(Exception ex)
    {
        if (KeycloakTokenService.ShouldForceLogout())
        {
            _module = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./js/authRefresh.js");
            await _module.InvokeVoidAsync("logout");
        }
        ErrorState.Message = ex.Message;
        NavManager.NavigateTo("/error");
    }

    private Task<GetLeaguesResponse> LoadLeaguesAsync() =>
        DataLoader.GetOrLoad(
            () => LeagueLocalCache.GetLeaguesCache(),
            () => LeagueService.GetLeagues(),
            (l) => LeagueLocalCache.SetLeaguesCache(l)
    );

    private Task<GetSeasonByYearResponse> LoadSeasonAsync() =>
        DataLoader.GetOrLoad(
            () => SeasonLocalCache.GetSeasonByYearCache(DateTime.Now.Year),
            () => SeasonService.GetSeasonByYear(DateTime.Now.Year),
            (s) => SeasonLocalCache.SetSeasonByYearCache(DateTime.Now.Year, s)
    );

    private Func<string, string, RenderFragment> StepHeader = (string icon, string title) => @<MudStack Spacing="2" AlignItems="AlignItems.Center" Justify="Justify.Center" Row="true">
            <MudIcon Icon="@icon" Color="Color.Secondary" Size="Size.Medium" />
            <MudText Typo="Typo.h6" Class="font-bold">@title</MudText>
    </MudStack>;

    private RenderFragment Card(RenderFragment content, RenderFragment actions = null) => @<MudCard Class="border border-solid border-black">
        <MudCardContent>
            @content
        </MudCardContent>
        @if (actions is not null)
        {
                <MudCardActions>
                    @actions
                </MudCardActions>
        }
        </MudCard>
        ;

    private RenderFragment<MudFileUpload<IBrowserFile>> UploadButton =>
        (fileUpload) => @<MudButton Variant="Variant.Filled"
                                            Color="Color.Primary"
                                            StartIcon="@Icons.Material.Filled.CloudUpload"
                                            OnClick="@(() => fileUpload.OpenFilePickerAsync())">
            Team Image
        </MudButton>;
    
    private RenderFragment StateOptions => __builder =>
    {
        foreach (var state in states)
        {
            <MudSelectItem Value="@state">@state</MudSelectItem>
            ;
        }
    };

    private RenderFragment CountryOptions => __builder =>
    {
        foreach (var country in countries)
        {
            <MudSelectItem Value="@country">@country</MudSelectItem>
            ;
        }
    };
}