@page "/teamhistory/{id}"
@inject ILeagueService LeagueService
@inject ITeamService TeamService
@inject IGameService GameService
@inject IStandingsService StandingsService
@inject ISeasonService SeasonService
@inject IAWSService AWSService
@inject ILeagueLocalCacheService LeagueLocalCache
@inject ITeamLocalCacheService TeamLocalCache
@inject IGameLocalCacheService GameLocalCache
@inject IStandingsLocalCacheService StandingsLocalCache
@inject ISeasonLocalCacheService SeasonLocalCache
@inject ErrorState ErrorState
@inject NavigationManager NavManager
@inject IHttpContextAccessor HttpContextAccessor
@inject IJSRuntime JsRuntime
@inject KeycloakTokenService KeycloakTokenService
@inject ImageService ImageService

@if (PageLoad)
{
    <AuthorizeView Roles="@String.Concat(Roles.ReadTeams, ", ", Roles.ReadGames)" Context="auth">
        <Authorized>
            <MudItem Class="pt-24">
                <MudItem xs="12" Class="pb-6">
                    @Card(@<div>
                            <TeamHistoryHeader Team="@TeamByIdResponse.Team"
                                               Wins="@TotalWins"
                                               Losses="@TotalLosses" />
                        </div>)
                </MudItem>
            </MudItem>
            <MudItem>
                <TeamHistoryTable Rows="@TeamStandingsResponse.Standings.OrderByDescending(x => x.Year)" />
            </MudItem>
        </Authorized>
        <NotAuthorized>
            <NoAccess />
        </NotAuthorized>
    </AuthorizeView>
}
else
{
    <Loading />
}

@code {
    [Parameter]
    public string Id { get; set; }

    private bool PageLoad = false;
    private GetTeamByIdResponse TeamByIdResponse { get; set; }
    private GetGamesByTeamResponse TeamGamesResponse { get; set; }
    private GetStandingsByTeamResponse TeamStandingsResponse { get; set; }
    private GetSeasonsResponse SeasonsResponse { get; set; }
    private GetLeagueByIdResponse LeagueResponse { get; set; }
    private int TotalWins;
    private int TotalLosses;
    private IJSObjectReference? _module;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await LoadAllAsync();
            PageLoad = true;

        }
        catch (Exception ex)
        {
            await HandleError(ex);
        }
    }

    private async Task LoadAllAsync()
    {
        var teamId = Guid.Parse(Id);

        TeamByIdResponse = await LoadTeamAsync(teamId);
        TeamGamesResponse = await LoadGamesAsync(teamId);
        TeamStandingsResponse = await LoadStandingsAsync(teamId);
        SeasonsResponse = await LoadSeasonsAsync();
        LeagueResponse = await LoadLeagueAsync(TeamByIdResponse.Team.LeagueId);

        EnrichStandings();
        await LoadTeamImageAsync();
    }

    private void EnrichStandings()
    {
        TotalWins = 0;
        TotalLosses = 0;

        foreach (var standing in TeamStandingsResponse.Standings)
        {
            var season = SeasonsResponse.Seasons.FirstOrDefault(x => x.Id == standing.SeasonId);
            standing.Year = season?.Year ?? 0;

            var wins = standing.StandingsDetail.Wins;
            var games = standing.StandingsDetail.GamesPlayed;

            standing.WinPercentage = (wins > 0 && games > 0) 
                ? (decimal)wins / games 
                : 0;

            TotalWins += standing.StandingsDetail.Wins;
            TotalLosses += standing.StandingsDetail.Losses;
        }
    }

    private async Task LoadTeamImageAsync()
    {
        TeamByIdResponse.Team.LeagueName = LeagueResponse.League.Name;
        TeamByIdResponse.Team.Sport = LeagueResponse.League.Sport;
        TeamByIdResponse.Team.Image = await ImageService.GetTeamImageAsync(LeagueResponse.League, TeamByIdResponse.Team);
    }

    private async Task HandleError(Exception ex)
    {
        if (KeycloakTokenService.ShouldForceLogout())
        {
            _module = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./js/authRefresh.js");
            await _module.InvokeVoidAsync("logout");
        }
        ErrorState.Message = ex.Message;
        NavManager.NavigateTo("/error");
    }

    private Task<GetTeamByIdResponse> LoadTeamAsync(Guid id) =>
        DataLoader.GetOrLoad(
            () => TeamLocalCache.GetTeamByIdCache(id.ToString()),
            () => TeamService.GetTeamById(id),
            (t) => TeamLocalCache.SetTeamByIdCache(id.ToString(), t)
    );

    private Task<GetGamesByTeamResponse> LoadGamesAsync(Guid id) =>
        DataLoader.GetOrLoad(
            () => GameLocalCache.GetGamesByTeamCache(id.ToString()),
            () => GameService.GetGamesByTeam(id),
            (g) => GameLocalCache.SetGamesByTeamCache(id.ToString(), g)
    );

    private Task<GetStandingsByTeamResponse> LoadStandingsAsync(Guid id) =>
        DataLoader.GetOrLoad(
            () => StandingsLocalCache.GetStandingsByTeamCache(id.ToString()),
            () => StandingsService.GetStandingsByTeam(id),
            (s) => StandingsLocalCache.SetStandingsByTeamCache(id.ToString(), s)
    );

    private Task<GetSeasonsResponse> LoadSeasonsAsync() =>
       DataLoader.GetOrLoad(
           () => SeasonLocalCache.GetSeasonsCache(),
           () => SeasonService.GetSeasons(),
           (s) => SeasonLocalCache.SetSeasonsCache(s)
    );

    private Task<GetLeagueByIdResponse> LoadLeagueAsync(Guid leagueId) =>
         DataLoader.GetOrLoad(
             () => LeagueLocalCache.GetLeagueByIdCache(leagueId.ToString()),
             () => LeagueService.GetLeague(leagueId),
             (l) => LeagueLocalCache.SetLeagueByIdCache(leagueId.ToString(), l)
    );

    private RenderFragment Card(RenderFragment content, RenderFragment actions = null) => @<MudCard Class="border border-solid border-black">
            <MudCardContent>
                @content
            </MudCardContent>
        @if (actions is not null)
        {
            <MudCardActions>
                @actions
            </MudCardActions>
        }
        </MudCard>
    ;
}
