@page "/baseballleaguestatsleaders/{id}"
@inject NavigationManager NavManager;
@inject ISeasonService SeasonService
@inject IStatsService StatsService
@inject ITeamService TeamService
@inject IPlayerService PlayerService
@inject ILeagueService LeagueService
@inject IHttpContextAccessor HttpContextAccessor
@inject IAWSService AWSService


<AuthorizeView Roles="@String.Concat(Roles.ReadStats, ", ", Roles.ReadPlayers, ", ", Roles.ReadTeams, ", ", Roles.ReadSeasons, ", ", Roles.ReadLeagues)" Context="auth">
    <Authorized>
        @if (PageLoad)
        {
            <div style="padding-top: 100px;">
                <MudPaper Style="padding: 50px;" Elevation="2">
                    <div style="padding-bottom: 25px;">
                        <MudText Typo="Typo.h3" Align="Align.Center" Style="font-weight:bold">@Season.Year Stat Leaders</MudText>
                        <MudSpacer />
                        <MudStack Row="true">
                            <MudItem xs="8" md="8" lg="8">
                                <MudSelect @bind-Value="seasonValue" Placeholder="@placeholder" Label="@placeholder">
                                    @foreach (var season in SeasonsModel.Seasons)
                                    {
                                        <MudSelectItem Value="season.Year">@season.Year</MudSelectItem>
                                    }
                                </MudSelect>
                            </MudItem>
                            <MudItem xs="4" md="4" lg="4" Style="align-content: center; padding: 10px;">
                                <MudButton Disabled="@(seasonValue <= 0 ? true : false)" OnClick="GetSeasonStatLeaders" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" Style="width: 200px;">Search</MudButton>
                            </MudItem>
                        </MudStack>
                    </div>
                    <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" Style="padding: 25px;" Centered="true">
                        <MudTabPanel Text="Hitting">
                            <MudTable Items="@StatLeaders" Hover="true">
                                <ColGroup>
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                </ColGroup>
                                <HeaderContent>
                                    <MudTh Class="mud-theme-primary"></MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">Name</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">Team</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary"><MudTableSortLabel SortBy="new Func<StatLeaderModel, object>(x=>x.GamesPlayed)">GP</MudTableSortLabel></MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary"><MudTableSortLabel SortBy="new Func<StatLeaderModel, object>(x=>x.AtBats)">AB</MudTableSortLabel></MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary"><MudTableSortLabel SortBy="new Func<StatLeaderModel, object>(x=>x.Runs)">R</MudTableSortLabel></MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary"><MudTableSortLabel SortBy="new Func<StatLeaderModel, object>(x=>x.Hits)">H</MudTableSortLabel></MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary"><MudTableSortLabel InitialDirection="SortDirection.Descending" SortBy="new Func<StatLeaderModel, object>(x=>x.Average)">AVG</MudTableSortLabel></MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary"><MudTableSortLabel SortBy="new Func<StatLeaderModel, object>(x=>x.Doubles)">2B</MudTableSortLabel></MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary"><MudTableSortLabel SortBy="new Func<StatLeaderModel, object>(x=>x.Triples)">3B</MudTableSortLabel></MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary"><MudTableSortLabel SortBy="new Func<StatLeaderModel, object>(x=>x.HomeRuns)">HR</MudTableSortLabel></MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary"><MudTableSortLabel SortBy="new Func<StatLeaderModel, object>(x=>x.RunsBattedIn)">RBI</MudTableSortLabel></MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary"><MudTableSortLabel SortBy="new Func<StatLeaderModel, object>(x=>x.TotalBases)">TB</MudTableSortLabel></MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary"><MudTableSortLabel SortBy="new Func<StatLeaderModel, object>(x=>x.Walks)">BB</MudTableSortLabel></MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary"><MudTableSortLabel SortBy="new Func<StatLeaderModel, object>(x=>x.Strikeouts)">K</MudTableSortLabel></MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary"><MudTableSortLabel SortBy="new Func<StatLeaderModel, object>(x=>x.StolenBases)">SB</MudTableSortLabel></MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary"><MudTableSortLabel SortBy="new Func<StatLeaderModel, object>(x=>x.OnBasePercentage)">OBP</MudTableSortLabel></MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary"><MudTableSortLabel SortBy="new Func<StatLeaderModel, object>(x=>x.Slugging)">SLG</MudTableSortLabel></MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary"><MudTableSortLabel SortBy="new Func<StatLeaderModel, object>(x=>x.OnBasePlusSlugging)">OPS</MudTableSortLabel></MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary"><MudTableSortLabel SortBy="new Func<StatLeaderModel, object>(x=>x.SacrificeFly)">SF</MudTableSortLabel></MudTh>
                                </HeaderContent>
                                <RowTemplate>
                                    <MudTd>
                                        <MudAvatar Size="Size.Small">
                                            <MudImage Src="@context.Image" Alt="Player Image"></MudImage>
                                        </MudAvatar>
                                    </MudTd>
                                    <MudTd DataLabel="Name" Style="font-size: 12px;">@context.PlayerName</MudTd>
                                    <MudTd DataLabel="Team" Style="font-size: 12px;">@context.Team</MudTd>
                                    <MudTd DataLabel="Games Played">@context.GamesPlayed</MudTd>
                                    <MudTd DataLabel="At Bats">@context.AtBats</MudTd>
                                    <MudTd DataLabel="Runs">@context.Runs</MudTd>
                                    <MudTd DataLabel="Hits">@context.Hits</MudTd>
                                    <MudTd DataLabel="Average">@context.Average.ToString("#.000")</MudTd>
                                    <MudTd DataLabel="Doubles">@context.Doubles</MudTd>
                                    <MudTd DataLabel="Triples">@context.Triples</MudTd>
                                    <MudTd DataLabel="Home Runs">@context.HomeRuns</MudTd>
                                    <MudTd DataLabel="Runs Batted In">@context.RunsBattedIn</MudTd>
                                    <MudTd DataLabel="Total Bases">@context.TotalBases</MudTd>
                                    <MudTd DataLabel="Walks">@context.Walks</MudTd>
                                    <MudTd DataLabel="Strikeouts">@context.Strikeouts</MudTd>
                                    <MudTd DataLabel="Stolen Bases">@context.StolenBases</MudTd>
                                    <MudTd DataLabel="On Base Percentage">@context.OnBasePercentage.ToString("#.000")</MudTd>
                                    <MudTd DataLabel="Slugging">@context.Slugging.ToString("#.000")</MudTd>
                                    <MudTd DataLabel="On Base Plus Slugging">@context.OnBasePlusSlugging.ToString("#.000")</MudTd>
                                    <MudTd DataLabel="Sacrifice Fly">@context.SacrificeFly</MudTd>
                                </RowTemplate>
                            </MudTable>
                        </MudTabPanel>
                        <MudTabPanel Text="Pitching">
                            <MudTable Items="@StatLeaders" Hover="true">
                                <ColGroup>
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                </ColGroup>
                                <HeaderContent>
                                    <MudTh Class="mud-theme-primary"></MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">Name</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">Team</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary"><MudTableSortLabel SortBy="new Func<StatLeaderModel, object>(x=>x.GamesPlayed)">GP</MudTableSortLabel></MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary"><MudTableSortLabel SortBy="new Func<StatLeaderModel, object>(x=>x.PitchingStarts)">GS</MudTableSortLabel></MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary"><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<StatLeaderModel, object>(x=>x.EarnedRunAverage)">ERA</MudTableSortLabel></MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary"><MudTableSortLabel SortBy="new Func<StatLeaderModel, object>(x=>x.PitchingWins)">W</MudTableSortLabel></MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary"><MudTableSortLabel SortBy="new Func<StatLeaderModel, object>(x=>x.PitchingLosses)">L</MudTableSortLabel></MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary"><MudTableSortLabel SortBy="new Func<StatLeaderModel, object>(x=>x.Saves)">SV</MudTableSortLabel></MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary"><MudTableSortLabel SortBy="new Func<StatLeaderModel, object>(x=>x.InningsPitched)">IP</MudTableSortLabel></MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary"><MudTableSortLabel SortBy="new Func<StatLeaderModel, object>(x=>x.HitsAllowed)">H</MudTableSortLabel></MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary"><MudTableSortLabel SortBy="new Func<StatLeaderModel, object>(x=>x.RunsAllowed)">ER</MudTableSortLabel></MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary"><MudTableSortLabel SortBy="new Func<StatLeaderModel, object>(x=>x.WalksAllowed)">BB</MudTableSortLabel></MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary"><MudTableSortLabel SortBy="new Func<StatLeaderModel, object>(x=>x.PitchingStrikeouts)">K</MudTableSortLabel></MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary"><MudTableSortLabel SortBy="new Func<StatLeaderModel, object>(x=>x.WalksHitsPerInning)">WHIP</MudTableSortLabel></MudTh>
                                </HeaderContent>
                                <RowTemplate>
                                    <MudTd>
                                        <MudAvatar Size="Size.Small">
                                            <MudImage Src="@context.Image" Alt="Player Image"></MudImage>
                                        </MudAvatar>
                                    </MudTd>
                                    <MudTd DataLabel="Name" Style="font-size: 12px;">@context.PlayerName</MudTd>
                                    <MudTd DataLabel="Team" Style="font-size: 12px;">@context.Team</MudTd>
                                    <MudTd DataLabel="Games Played">@context.GamesPlayed</MudTd>
                                    <MudTd DataLabel="Starts">@context.PitchingStarts</MudTd>
                                    <MudTd DataLabel="Earned Run Average">@context.EarnedRunAverage.ToString("#0.00")</MudTd>
                                    <MudTd DataLabel="Wins">@context.PitchingWins</MudTd>
                                    <MudTd DataLabel="Losses">@context.PitchingLosses</MudTd>
                                    <MudTd DataLabel="Saves">@context.Saves</MudTd>
                                    <MudTd DataLabel="Innings Pitched">@context.InningsPitched</MudTd>
                                    <MudTd DataLabel="Hits">@context.HitsAllowed</MudTd>
                                    <MudTd DataLabel="Runs">@context.RunsAllowed</MudTd>
                                    <MudTd DataLabel="Walks">@context.WalksAllowed</MudTd>
                                    <MudTd DataLabel="Strikeouts">@context.PitchingStrikeouts</MudTd>
                                    <MudTd DataLabel="Walks Hits Per Inning">@context.WalksHitsPerInning.ToString("#0.00")</MudTd>
                                </RowTemplate>
                            </MudTable>
                        </MudTabPanel>
                    </MudTabs>
                </MudPaper>
            </div> 
        }
        else
        {
            <Loading />
        }
    </Authorized>
    <NotAuthorized>
        <MudText>You are not authorized to view this page...</MudText>
    </NotAuthorized>
</AuthorizeView>
@code {
    [Parameter]
    public string Id { get; set; }
    private bool PageLoad = false;
    private Justify _justify = Justify.SpaceEvenly;
    private SeasonModel Season;
    private List<StatLeaderModel> StatLeaders = new List<StatLeaderModel>();
    private string placeholder = "Season";
    private int seasonValue;

    private GetPlayerByIdResponse PlayerModel { get; set; }
    private GetTeamByIdResponse TeamModel { get; set; }
    private GetLeagueByIdResponse LeagueModel { get; set; }
    private GetLeagueBaseballStatsBySeasonResponse StatsModel { get; set; }
    private GetSeasonsResponse SeasonsModel { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (await AuthorizationStatus.IsUserAccessTokenExpired(HttpContextAccessor))
        {
            NavManager.NavigateTo("authentication/logout");
        }

        SeasonsModel = await SeasonService.GetSeasons();
        Season = SeasonsModel.Seasons.First();
        var leagueId = Guid.Parse(Id);
        LeagueModel = await LeagueService.GetLeague(leagueId);
        await CreateStatsLeadersByLeague(leagueId);
        seasonValue = Season.Year;
        PageLoad = true;
    }

    private async Task CreateStatsLeadersByLeague(Guid leagueId)
    {
        StatsModel = await StatsService.GetLeagueBaseballStatsBySeason(leagueId, Season.Id);
        await BuildStatLeaders();
    }


    public async Task GetSeasonStatLeaders()
    {
        PageLoad = false;
        Season = SeasonsModel.Seasons.FirstOrDefault(s => s.Year == seasonValue);

        StatsModel = await StatsService.GetLeagueBaseballStatsBySeason(LeagueModel.League.Id, Season.Id);
        await BuildStatLeaders();
        PageLoad = true;
    }

    private async Task GetImageAsync(StatLeaderModel stat)
    {
        var keyPath = $"/{LeagueModel.League.Sport}/{LeagueModel.League.Name}/teams/{TeamModel.Team.TeamName}/players/{String.Concat(PlayerModel.Player.FirstName, " ", PlayerModel.Player.LastName)}/{PlayerModel.Player.ImageFile}";
        stat.Image = await AWSService.GetImage(keyPath);
    }

    private async Task BuildStatLeaders()
    {
        if (StatLeaders.Any())
            StatLeaders.RemoveRange(0, StatLeaders.Count);

        foreach (var stat in StatsModel.BaseballStats)
        {
            if (!StatLeaders.Any(s => s.PlayerId == stat.PlayerId))
            {
                PlayerModel = await PlayerService.GetPlayerById(stat.PlayerId);
                TeamModel = await TeamService.GetTeamById(stat.TeamId);
                var statLeader = new StatLeaderModel
                    {
                        PlayerId = PlayerModel.Player.Id,
                        PlayerName = String.Concat(PlayerModel.Player.FirstName, " ", PlayerModel.Player.LastName),
                        Team = TeamModel.Team.TeamName,
                        AtBats = stat.HittingStats.AtBats,
                        Hits = stat.HittingStats.Hits,
                        Runs = stat.HittingStats.Runs,
                        Average = stat.HittingStats.Hits == 0 || stat.HittingStats.AtBats == 0 ? 0 : (decimal)stat.HittingStats.Hits / stat.HittingStats.AtBats,
                        RunsBattedIn = stat.HittingStats.RunsBattedIn,
                        Doubles = stat.HittingStats.Doubles,
                        Triples = stat.HittingStats.Triples,
                        HomeRuns = stat.HittingStats.HomeRuns,
                        TotalBases = stat.HittingStats.TotalBases,
                        Slugging = stat.HittingStats.TotalBases == 0 || stat.HittingStats.AtBats == 0 ? 0 : (decimal)stat.HittingStats.TotalBases / stat.HittingStats.AtBats,
                        StolenBases = stat.HittingStats.StolenBases,
                        Strikeouts = stat.HittingStats.Strikeouts,
                        Walks = stat.HittingStats.Walks,
                        HitByPitch = stat.HittingStats.HitByPitch,
                        SacrificeFly = stat.HittingStats.SacrificeFly,
                        OnBasePercentage = (stat.HittingStats.Hits + stat.HittingStats.Walks + stat.HittingStats.HitByPitch) == 0 || (stat.HittingStats.Hits + stat.HittingStats.Walks + stat.HittingStats.HitByPitch + stat.HittingStats.SacrificeFly) == 0 ? 0 : (decimal)(stat.HittingStats.Hits + stat.HittingStats.Walks + stat.HittingStats.HitByPitch) / (stat.HittingStats.Hits + stat.HittingStats.Walks + stat.HittingStats.HitByPitch + stat.HittingStats.SacrificeFly),
                        PitchingStarts = stat.PitchingStats.Start ? 1 : 0,
                        PitchingWins = stat.PitchingStats.Wins,
                        PitchingLosses = stat.PitchingStats.Losses,
                        InningsPitched = stat.PitchingStats.Innings,
                        HitsAllowed = stat.PitchingStats.HitsAllowed,
                        RunsAllowed = stat.PitchingStats.Runs,
                        WalksAllowed = stat.PitchingStats.WalksAllowed,
                        PitchingStrikeouts = stat.PitchingStats.PitchingStrikeouts,
                        Saves = stat.PitchingStats.Saves,
                        EarnedRunAverage = stat.PitchingStats.Runs == 0 || stat.PitchingStats.Innings == 0 ? 0 : (decimal)(stat.PitchingStats.Runs / stat.PitchingStats.Innings) * 9,
                        WalksHitsPerInning = (stat.PitchingStats.WalksAllowed + stat.PitchingStats.HitsAllowed) == 0 || stat.PitchingStats.Innings == 0 ? 0 : (decimal)(stat.PitchingStats.WalksAllowed + stat.PitchingStats.HitsAllowed) / stat.PitchingStats.Innings,
                        GamesPlayed = stat.HittingStats.AtBats > 0 || stat.PitchingStats.Innings > 0 ? 1 : 0
                    };                
                statLeader.OnBasePlusSlugging = statLeader.OnBasePercentage + statLeader.Slugging;
                await GetImageAsync(statLeader);
                StatLeaders.Add(statLeader);
            }
            else
            {
                var statLeader = StatLeaders.FirstOrDefault(s => s.PlayerId == stat.PlayerId);
                statLeader.AtBats += stat.HittingStats.AtBats;
                statLeader.Hits += stat.HittingStats.Hits;
                statLeader.Runs += stat.HittingStats.Runs;
                statLeader.Average = statLeader.Hits == 0 || statLeader.AtBats == 0 ? 0 : (decimal)statLeader.Hits / statLeader.AtBats;
                statLeader.RunsBattedIn += stat.HittingStats.RunsBattedIn;
                statLeader.Doubles += stat.HittingStats.Doubles;
                statLeader.Triples += stat.HittingStats.Triples;
                statLeader.HomeRuns += stat.HittingStats.HomeRuns;
                statLeader.TotalBases += stat.HittingStats.TotalBases;
                statLeader.Slugging = statLeader.TotalBases == 0 || statLeader.AtBats == 0 ? 0 : (decimal)statLeader.TotalBases / statLeader.AtBats;
                statLeader.StolenBases += stat.HittingStats.StolenBases;
                statLeader.Strikeouts += stat.HittingStats.Strikeouts;
                statLeader.Walks += stat.HittingStats.Walks;
                statLeader.HitByPitch += stat.HittingStats.HitByPitch;
                statLeader.SacrificeFly += stat.HittingStats.SacrificeFly;
                statLeader.OnBasePercentage = (statLeader.Hits + statLeader.Walks + statLeader.HitByPitch) == 0 || (statLeader.Hits + statLeader.Walks + statLeader.HitByPitch + statLeader.SacrificeFly) == 0 ? 0 : (decimal)(statLeader.Hits + statLeader.Walks + statLeader.HitByPitch) / (statLeader.Hits + stat.HittingStats.Walks + statLeader.HitByPitch + statLeader.SacrificeFly);
                statLeader.PitchingStarts += stat.PitchingStats.Start ? 1 : 0;
                statLeader.PitchingWins += stat.PitchingStats.Wins;
                statLeader.PitchingLosses += stat.PitchingStats.Losses;
                statLeader.InningsPitched += stat.PitchingStats.Innings;
                statLeader.HitsAllowed += stat.PitchingStats.HitsAllowed;
                statLeader.RunsAllowed += stat.PitchingStats.Runs;
                statLeader.WalksAllowed += stat.PitchingStats.WalksAllowed;
                statLeader.PitchingStrikeouts += stat.PitchingStats.PitchingStrikeouts;
                statLeader.Saves += stat.PitchingStats.Saves;
                statLeader.EarnedRunAverage = statLeader.RunsAllowed == 0 || statLeader.InningsPitched == 0 ? 0 : (decimal)(statLeader.RunsAllowed / statLeader.InningsPitched) * 9;
                statLeader.WalksHitsPerInning = (statLeader.WalksAllowed + statLeader.HitsAllowed) == 0 || statLeader.InningsPitched == 0 ? 0 : (decimal)(statLeader.WalksAllowed + statLeader.HitsAllowed) / statLeader.InningsPitched;
                statLeader.GamesPlayed += stat.HittingStats.AtBats > 0 || stat.PitchingStats.Innings > 0 ? 1 : 0;
            }
        }
    }

    public class StatLeaderModel
    {
        public Guid PlayerId { get; set; }
        public string PlayerName { get; set; }
        public string Team { get; set; }
        public string Image { get; set; }
        public int GamesPlayed { get; set; }
        public int AtBats { get; set; }
        public int Hits { get; set; }
        public int Runs { get; set; }
        public decimal Average { get; set; }
        public int RunsBattedIn { get; set; }
        public int Doubles { get; set; }
        public int Triples { get; set; }
        public int HomeRuns { get; set; }
        public int TotalBases { get; set; }
        public decimal Slugging { get; set; }
        public int StolenBases { get; set; }
        public int Strikeouts { get; set; }
        public int Walks { get; set; }
        public int HitByPitch { get; set; }
        public int SacrificeFly { get; set; }
        public decimal OnBasePercentage { get; set; }
        public decimal OnBasePlusSlugging { get; set; }
        public int PitchingStarts { get; set; }
        public int PitchingWins { get; set; }
        public int PitchingLosses { get; set; }
        public decimal InningsPitched { get; set; }
        public int HitsAllowed { get; set; }
        public int RunsAllowed { get; set; }
        public int WalksAllowed { get; set; }
        public int PitchingStrikeouts { get; set; }
        public int Saves { get; set; }
        public decimal EarnedRunAverage { get; set; }
        public decimal WalksHitsPerInning { get; set; }
    }
}
