@page "/footballgamestats/{id}"
@inject IStatsService StatsService
@inject IGameService GameService
@inject ILeagueService LeagueService
@inject ITeamService TeamService
@inject IPlayerService PlayerService
@inject IAWSService AWSService
@inject ISnackbar Snackbar
@inject NavigationManager NavManager;
@inject IHttpContextAccessor HttpContextAccessor


<AuthorizeView Roles="@String.Concat(Roles.ReadStats, ", ", Roles.ReadGames, ", ", Roles.ReadPlayers)" Context="auth">
    <Authorized>
        @if (PageLoad)
        {
            <MudItem Style="padding-top: 50px;">
                <MudPaper Class="border border-solid" Style="border-color: #000000; padding: 25px;">
                    <MudText Typo="Typo.h4" Align="Align.Center" Style="font-weight:bold">
                        <MudStack Row="true" Justify="Justify.Center">
                            <MudAvatar Size="Size.Medium">
                                <MudImage Src="@GameModel.Game.AwayTeamImage" Alt="Team Image"></MudImage>
                            </MudAvatar>
                            @GameModel.Game.AwayTeam.TeamName vs @GameModel.Game.HomeTeam.TeamName
                            <MudAvatar Size="Size.Medium">
                                <MudImage Src="@GameModel.Game.HomeTeamImage" Alt="Team Image"></MudImage>
                            </MudAvatar>
                        </MudStack>
                    </MudText>
                </MudPaper>
            </MudItem>
            <MudItem Style="padding-top: 25px;">
                <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" Color="Color.Primary" Centered="true" Class="border border-solid" Style="border-color: #000000; padding: 25px;">
                    <MudTabPanel Text="@String.Concat(GameModel.Game.AwayTeam.TeamName + " Stats")">
                        <MudItem style="padding-top: 25px;">
                            <MudTable Items="@Model.Where(x => x.TeamId == GameModel.Game.AwayTeam.Id)" Hover="true" Class="border border-solid" Style="border-color: #000000">
                                <ColGroup>
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                </ColGroup>
                                <HeaderContent>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">Name</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">CMP</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">ATT</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">YDS</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">TD</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">INT</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">LNG</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">S</MudTh>
                                </HeaderContent>
                                <RowTemplate>
                                    <MudTd DataLabel="Name" Style="font-size: 12px;">@context.PlayerName</MudTd>
                                    <MudTd DataLabel="Completions">@context.PassingCompletions</MudTd>
                                    <MudTd DataLabel="Attempts">@context.PassingAttempts</MudTd>
                                    <MudTd DataLabel="Yards">@context.PassingYards</MudTd>
                                    <MudTd DataLabel="Touchdowns">@context.PassingTouchdowns</MudTd>
                                    <MudTd DataLabel="Interceptions">@context.PassingInterceptions</MudTd>
                                    <MudTd DataLabel="Longest">@context.LongestPassingPlay</MudTd>
                                    <MudTd DataLabel="Sacks">@context.Sacks</MudTd>
                                </RowTemplate>
                            </MudTable>
                        </MudItem>
                        <MudItem Style="padding-top: 25px;">
                            <MudSimpleTable Class="border border-solid" Style="border-color: #000000">
                                <thead>
                                    <tr class="mud-theme-primary">
                                        <th></th>
                                        <th>CMP</th>
                                        <th>ATT</th>
                                        <th>YDS</th>
                                        <th>TD</th>
                                        <th>INT</th>
                                        <th>S</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Totals:</td>
                                        <td>@AwayTotalPassingCompletions</td>
                                        <td>@AwayTotalPassingAttempts</td>
                                        <td>@AwayTotalPassingYards</td>
                                        <td>@AwayTotalPassingTouchdowns</td>
                                        <td>@AwayTotalPassingInterceptions</td>
                                        <td>@AwayTotalSacks</td>
                                    </tr>
                                </tbody>
                            </MudSimpleTable>
                        </MudItem>
                        <MudItem Style="padding-top: 25px;">
                            <MudTable Items="@Model.Where(x => x.TeamId == GameModel.Game.AwayTeam.Id)" Hover="true" Class="border border-solid" Style="border-color: #000000">
                                <ColGroup>
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                </ColGroup>
                                <HeaderContent>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">Name</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">CAR</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">YDS</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">TD</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">LNG</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">FUM</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">LST</MudTh>
                                </HeaderContent>
                                <RowTemplate>
                                    <MudTd DataLabel="Name" Style="font-size: 12px;">@context.PlayerName</MudTd>
                                    <MudTd DataLabel="Carries">@context.RushingAttempts</MudTd>
                                    <MudTd DataLabel="Yards">@context.RushingYards</MudTd>
                                    <MudTd DataLabel="Touchdowns">@context.RushingTouchdowns</MudTd>
                                    <MudTd DataLabel="Longest">@context.LongestRushingPlay</MudTd>
                                    <MudTd DataLabel="Fumbles">@context.RushingFumbles</MudTd>
                                    <MudTd DataLabel="Fumbles Lost">@context.RushingFumblesLost</MudTd>
                                </RowTemplate>
                            </MudTable>
                        </MudItem>
                        <MudItem Style="padding-top: 25px;">
                            <MudSimpleTable Class="border border-solid" Style="border-color: #000000">
                                <thead>
                                    <tr class="mud-theme-primary">
                                        <th></th>
                                        <th>CAR</th>
                                        <th>YDS</th>
                                        <th>TD</th>
                                        <th>FUM</th>
                                        <th>FUM LST</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Totals:</td>
                                        <td>@AwayTotalRushingAttempts</td>
                                        <td>@AwayTotalRushingYards</td>
                                        <td>@AwayTotalRushingTouchdowns</td>
                                        <td>@AwayTotalRushingFumbles</td>
                                        <td>@AwayTotalRushingFumblesLost</td>
                                    </tr>
                                </tbody>
                            </MudSimpleTable>
                        </MudItem>
                        <MudItem Style="padding-top: 25px;">
                            <MudTable Items="@Model.Where(x => x.TeamId == GameModel.Game.AwayTeam.Id)" Hover="true" Class="border border-solid" Style="border-color: #000000">
                                <ColGroup>
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                </ColGroup>
                                <HeaderContent>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">Name</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">REC</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">TGTS</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">YDS</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">TD</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">YAC</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">FUM</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">LST</MudTh>
                                </HeaderContent>
                                <RowTemplate>
                                    <MudTd DataLabel="Name" Style="font-size: 12px;">@context.PlayerName</MudTd>
                                    <MudTd DataLabel="Receptions">@context.Receptions</MudTd>
                                    <MudTd DataLabel="Targets">@context.Targets</MudTd>
                                    <MudTd DataLabel="Yards">@context.ReceivingYards</MudTd>
                                    <MudTd DataLabel="Touchdowns">@context.ReceivingTouchdowns</MudTd>
                                    <MudTd DataLabel="Yards After Catch">@context.YardsAfterCatch</MudTd>
                                    <MudTd DataLabel="Fumbles">@context.ReceivingFumbles</MudTd>
                                    <MudTd DataLabel="Fumbles Lost">@context.ReceivingFumblesLost</MudTd>
                                </RowTemplate>
                            </MudTable>
                        </MudItem>
                        <MudItem Style="padding-top: 25px;">
                            <MudSimpleTable Class="border border-solid" Style="border-color: #000000">
                                <thead>
                                    <tr class="mud-theme-primary">
                                        <th></th>
                                        <th>REC</th>
                                        <th>TGTS</th>
                                        <th>YDS</th>
                                        <th>TD</th>
                                        <th>YAC</th>
                                        <th>FUM</th>
                                        <th>FUM LST</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Totals:</td>
                                        <td>@AwayTotalReceptions</td>
                                        <td>@AwayTotalTargets</td>
                                        <td>@AwayTotalReceivingYards</td>
                                        <td>@AwayTotalReceivingTouchdowns</td>
                                        <td>@AwayTotalYardsAfterCatch</td>
                                        <td>@AwayTotalReceivingFumbles</td>
                                        <td>@AwayTotalReceivingFumblesLost</td>
                                    </tr>
                                </tbody>
                            </MudSimpleTable>
                        </MudItem>
                        <MudItem Style="padding-top: 25px;">
                            <MudTable Items="@Model.Where(x => x.TeamId == GameModel.Game.AwayTeam.Id)" Hover="true" Class="border border-solid" Style="border-color: #000000">
                                <ColGroup>
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                </ColGroup>
                                <HeaderContent>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">Name</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">TOT</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">SACK</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">TFL</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">FF</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">FR</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">INT</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">YDS</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">TD</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">LNG</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">PD</MudTh>
                                </HeaderContent>
                                <RowTemplate>
                                    <MudTd DataLabel="Name" Style="font-size: 12px;">@context.PlayerName</MudTd>
                                    <MudTd DataLabel="TOT">@context.Tackles</MudTd>
                                    <MudTd DataLabel="SACKS">@context.DefensiveSacks</MudTd>
                                    <MudTd DataLabel="TFL">@context.TacklesForLoss</MudTd>
                                    <MudTd DataLabel="FF">@context.ForcedFumbles</MudTd>
                                    <MudTd DataLabel="FR">@context.ReceivingFumbles</MudTd>
                                    <MudTd DataLabel="INT">@context.DefensiveInterceptions</MudTd>
                                    <MudTd DataLabel="YDS">@context.DefensiveInterceptionYards</MudTd>
                                    <MudTd DataLabel="TD">@context.DefensiveTouchdowns</MudTd>
                                    <MudTd DataLabel="LNG">@context.LongestDefensiveInterceptionPlay</MudTd>
                                    <MudTd DataLabel="PD">@context.PassesDefended</MudTd>
                                </RowTemplate>
                            </MudTable>
                        </MudItem>
                        <MudItem Style="padding-top: 25px;">
                            <MudSimpleTable Class="border border-solid" Style="border-color: #000000">
                                <thead>
                                    <tr class="mud-theme-primary">
                                        <th></th>
                                        <th>TOT</th>
                                        <th>SACKS</th>
                                        <th>TFL</th>
                                        <th>FF</th>
                                        <th>FR</th>
                                        <th>INT</th>
                                        <th>YDS</th>
                                        <th>TD</th>
                                        <th>PD</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Totals:</td>
                                        <td>@AwayTotalTackles</td>
                                        <td>@AwayTotalDefensiveSacks</td>
                                        <td>@AwayTotalTacklesForLoss</td>
                                        <td>@AwayTotalForcedFumbles</td>
                                        <td>@AwayTotalRecoveredFumbles</td>
                                        <td>@AwayTotalDefensiveInterceptions</td>
                                        <td>@AwayTotalDefensiveInterceptionYards</td>
                                        <td>@AwayTotalDefensiveTouchdowns</td>
                                        <td>@AwayTotalPassesDefended</td>
                                    </tr>
                                </tbody>
                            </MudSimpleTable>
                        </MudItem>
                        <MudItem Style="padding-top: 25px;">
                            <MudTable Items="@Model.Where(x => x.TeamId == GameModel.Game.AwayTeam.Id)" Hover="true" Class="border border-solid" Style="border-color: #000000">
                                <ColGroup>
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                </ColGroup>
                                <HeaderContent>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">Name</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">FG</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">FGA</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">LNGK</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">XPM</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">XPA</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">PTS</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">PUNTS</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">YDS</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">LNG</MudTh>
                                </HeaderContent>
                                <RowTemplate>
                                    <MudTd DataLabel="Name" Style="font-size: 12px;">@context.PlayerName</MudTd>
                                    <MudTd DataLabel="FG">@context.FieldGoalsMade</MudTd>
                                    <MudTd DataLabel="FGA">@context.FieldGoalsAttempted</MudTd>
                                    <MudTd DataLabel="LNGK">@context.LongestKick</MudTd>
                                    <MudTd DataLabel="XPM">@context.ExtraPointsMade</MudTd>
                                    <MudTd DataLabel="XPA">@context.ExtraPointsAttempted</MudTd>
                                    <MudTd DataLabel="PTS">@context.Points</MudTd>
                                    <MudTd DataLabel="PUNTS">@context.Punts</MudTd>
                                    <MudTd DataLabel="YDS">@context.PuntingYards</MudTd>
                                    <MudTd DataLabel="LNG">@context.LongestPunt</MudTd>
                                </RowTemplate>
                            </MudTable>
                        </MudItem>
                        <MudItem Style="padding-top: 25px;">
                            <MudSimpleTable Class="border border-solid" Style="border-color: #000000">
                                <thead>
                                    <tr class="mud-theme-primary">
                                        <th></th>
                                        <th>FG</th>
                                        <th>FGA</th>
                                        <th>XPM</th>
                                        <th>XPA</th>
                                        <th>PTS</th>
                                        <th>PUNTS</th>
                                        <th>YDS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Totals:</td>
                                        <td>@AwayTotalFieldGoalsMade</td>
                                        <td>@AwayTotalFieldGoalsAttempted</td>
                                        <td>@AwayTotalExtraPointsMade</td>
                                        <td>@AwayTotalExtraPointsAttempted</td>
                                        <td>@AwayTotalPoints</td>
                                        <td>@AwayTotalPunts</td>
                                        <td>@AwayTotalPuntingYards</td>
                                    </tr>
                                </tbody>
                            </MudSimpleTable>
                        </MudItem>
                    </MudTabPanel>
                    <MudTabPanel Text="@String.Concat(GameModel.Game.HomeTeam.TeamName + " Stats")">
                        <MudItem Style="padding-top: 25px;">
                            <MudTable Items="@Model.Where(x => x.TeamId == GameModel.Game.HomeTeam.Id)" Hover="true" Class="border border-solid" Style="border-color: #000000">
                                <ColGroup>
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                </ColGroup>
                                <HeaderContent>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">Name</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">CMP</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">ATT</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">YDS</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">TD</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">INT</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">LNG</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">S</MudTh>
                                </HeaderContent>
                                <RowTemplate>
                                    <MudTd DataLabel="Name" Style="font-size: 12px;">@context.PlayerName</MudTd>
                                    <MudTd DataLabel="Completions">@context.PassingCompletions</MudTd>
                                    <MudTd DataLabel="Attempts">@context.PassingAttempts</MudTd>
                                    <MudTd DataLabel="Yards">@context.PassingYards</MudTd>
                                    <MudTd DataLabel="Touchdowns">@context.PassingTouchdowns</MudTd>
                                    <MudTd DataLabel="Interceptions">@context.PassingInterceptions</MudTd>
                                    <MudTd DataLabel="Longest">@context.LongestPassingPlay</MudTd>
                                    <MudTd DataLabel="Sacks">@context.Sacks</MudTd>
                                </RowTemplate>
                            </MudTable>
                        </MudItem>
                        <MudItem Style="padding-top: 25px;">
                            <MudSimpleTable Class="border border-solid" Style="border-color: #000000">
                                <thead>
                                    <tr class="mud-theme-primary">
                                        <th></th>
                                        <th>CMP</th>
                                        <th>ATT</th>
                                        <th>YDS</th>
                                        <th>TD</th>
                                        <th>INT</th>
                                        <th>S</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Totals:</td>
                                        <td>@HomeTotalPassingCompletions</td>
                                        <td>@HomeTotalPassingAttempts</td>
                                        <td>@HomeTotalPassingYards</td>
                                        <td>@HomeTotalPassingTouchdowns</td>
                                        <td>@HomeTotalPassingInterceptions</td>
                                        <td>@HomeTotalSacks</td>
                                    </tr>
                                </tbody>
                            </MudSimpleTable>
                        </MudItem>
                        <MudItem Style="padding-top: 25px;">
                            <MudTable Items="@Model.Where(x => x.TeamId == GameModel.Game.HomeTeam.Id)" Hover="true" Class="border border-solid" Style="border-color: #000000">
                                <ColGroup>
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                </ColGroup>
                                <HeaderContent>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">Name</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">CAR</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">YDS</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">TD</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">LNG</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">FUM</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">LST</MudTh>
                                </HeaderContent>
                                <RowTemplate>
                                    <MudTd DataLabel="Name" Style="font-size: 12px;">@context.PlayerName</MudTd>
                                    <MudTd DataLabel="Carries">@context.RushingAttempts</MudTd>
                                    <MudTd DataLabel="Yards">@context.RushingYards</MudTd>
                                    <MudTd DataLabel="Touchdowns">@context.RushingTouchdowns</MudTd>
                                    <MudTd DataLabel="Longest">@context.LongestRushingPlay</MudTd>
                                    <MudTd DataLabel="Fumbles">@context.RushingFumbles</MudTd>
                                    <MudTd DataLabel="Fumbles Lost">@context.RushingFumblesLost</MudTd>
                                </RowTemplate>
                            </MudTable>
                        </MudItem>
                        <MudItem Style="padding-top: 25px;">
                            <MudSimpleTable Class="border border-solid" Style="border-color: #000000">
                                <thead>
                                    <tr class="mud-theme-primary">
                                        <th></th>
                                        <th>CAR</th>
                                        <th>YDS</th>
                                        <th>TD</th>
                                        <th>FUM</th>
                                        <th>FUM LST</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Totals:</td>
                                        <td>@HomeTotalRushingAttempts</td>
                                        <td>@HomeTotalRushingYards</td>
                                        <td>@HomeTotalRushingTouchdowns</td>
                                        <td>@HomeTotalRushingFumbles</td>
                                        <td>@HomeTotalRushingFumblesLost</td>
                                    </tr>
                                </tbody>
                            </MudSimpleTable>
                        </MudItem>
                        <MudItem Style="padding-top: 25px;">
                            <MudTable Items="@Model.Where(x => x.TeamId == GameModel.Game.HomeTeam.Id)" Hover="true" Class="border border-solid" Style="border-color: #000000">
                                <ColGroup>
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                </ColGroup>
                                <HeaderContent>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">Name</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">REC</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">TGTS</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">YDS</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">TD</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">YAC</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">FUM</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">LST</MudTh>
                                </HeaderContent>
                                <RowTemplate>
                                    <MudTd DataLabel="Name" Style="font-size: 12px;">@context.PlayerName</MudTd>
                                    <MudTd DataLabel="Receptions">@context.Receptions</MudTd>
                                    <MudTd DataLabel="Targets">@context.Targets</MudTd>
                                    <MudTd DataLabel="Yards">@context.ReceivingYards</MudTd>
                                    <MudTd DataLabel="Touchdowns">@context.ReceivingTouchdowns</MudTd>
                                    <MudTd DataLabel="Yards After Catch">@context.YardsAfterCatch</MudTd>
                                    <MudTd DataLabel="Fumbles">@context.ReceivingFumbles</MudTd>
                                    <MudTd DataLabel="Fumbles Lost">@context.ReceivingFumblesLost</MudTd>
                                </RowTemplate>
                            </MudTable>
                        </MudItem>
                        <MudItem Style="padding-top: 25px;">
                            <MudSimpleTable Class="border border-solid" Style="border-color: #000000">
                                <thead>
                                    <tr class="mud-theme-primary">
                                        <th></th>
                                        <th>REC</th>
                                        <th>TGTS</th>
                                        <th>YDS</th>
                                        <th>TD</th>
                                        <th>YAC</th>
                                        <th>FUM</th>
                                        <th>FUM LST</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Totals:</td>
                                        <td>@HomeTotalReceptions</td>
                                        <td>@HomeTotalTargets</td>
                                        <td>@HomeTotalReceivingYards</td>
                                        <td>@HomeTotalReceivingTouchdowns</td>
                                        <td>@HomeTotalYardsAfterCatch</td>
                                        <td>@HomeTotalReceivingFumbles</td>
                                        <td>@HomeTotalReceivingFumblesLost</td>
                                    </tr>
                                </tbody>
                            </MudSimpleTable>
                        </MudItem>
                        <MudItem Style="padding-top: 25px;">
                            <MudTable Items="@Model.Where(x => x.TeamId == GameModel.Game.HomeTeam.Id)" Hover="true" Class="border border-solid" Style="border-color: #000000">
                                <ColGroup>
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                </ColGroup>
                                <HeaderContent>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">Name</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">TOT</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">SACK</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">TFL</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">FF</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">FR</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">INT</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">YDS</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">TD</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">LNG</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">PD</MudTh>
                                </HeaderContent>
                                <RowTemplate>
                                    <MudTd DataLabel="Name" Style="font-size: 12px;">@context.PlayerName</MudTd>
                                    <MudTd DataLabel="TOT">@context.Tackles</MudTd>
                                    <MudTd DataLabel="SACKS">@context.DefensiveSacks</MudTd>
                                    <MudTd DataLabel="TFL">@context.TacklesForLoss</MudTd>
                                    <MudTd DataLabel="FF">@context.ForcedFumbles</MudTd>
                                    <MudTd DataLabel="FR">@context.ReceivingFumbles</MudTd>
                                    <MudTd DataLabel="INT">@context.DefensiveInterceptions</MudTd>
                                    <MudTd DataLabel="YDS">@context.DefensiveInterceptionYards</MudTd>
                                    <MudTd DataLabel="TD">@context.DefensiveTouchdowns</MudTd>
                                    <MudTd DataLabel="LNG">@context.LongestDefensiveInterceptionPlay</MudTd>
                                    <MudTd DataLabel="PD">@context.PassesDefended</MudTd>
                                </RowTemplate>
                            </MudTable>
                        </MudItem>
                        <MudItem Style="padding-top: 25px;">
                            <MudSimpleTable Class="border border-solid" Style="border-color: #000000">
                                <thead>
                                    <tr class="mud-theme-primary">
                                        <th></th>
                                        <th>TOT</th>
                                        <th>SACKS</th>
                                        <th>TFL</th>
                                        <th>FF</th>
                                        <th>FR</th>
                                        <th>INT</th>
                                        <th>YDS</th>
                                        <th>TD</th>
                                        <th>PD</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Totals:</td>
                                        <td>@HomeTotalTackles</td>
                                        <td>@HomeTotalDefensiveSacks</td>
                                        <td>@HomeTotalTacklesForLoss</td>
                                        <td>@HomeTotalForcedFumbles</td>
                                        <td>@HomeTotalRecoveredFumbles</td>
                                        <td>@HomeTotalDefensiveInterceptions</td>
                                        <td>@HomeTotalDefensiveInterceptionYards</td>
                                        <td>@HomeTotalDefensiveTouchdowns</td>
                                        <td>@HomeTotalPassesDefended</td>
                                    </tr>
                                </tbody>
                            </MudSimpleTable>
                        </MudItem>
                        <MudItem Style="padding-top: 25px;">
                            <MudTable Items="@Model.Where(x => x.TeamId == GameModel.Game.HomeTeam.Id)" Hover="true" Class="border border-solid" Style="border-color: #000000">
                                <ColGroup>
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                </ColGroup>
                                <HeaderContent>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">Name</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">FG</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">FGA</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">LNGK</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">XPM</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">XPA</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">PTS</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">PUNTS</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">YDS</MudTh>
                                    <MudTh Style="font-weight:bold" Class="mud-theme-primary">LNGP</MudTh>
                                </HeaderContent>
                                <RowTemplate>
                                    <MudTd DataLabel="Name" Style="font-size: 12px;">@context.PlayerName</MudTd>
                                    <MudTd DataLabel="FG">@context.FieldGoalsMade</MudTd>
                                    <MudTd DataLabel="FGA">@context.FieldGoalsAttempted</MudTd>
                                    <MudTd DataLabel="LNGK">@context.LongestKick</MudTd>
                                    <MudTd DataLabel="XPM">@context.ExtraPointsMade</MudTd>
                                    <MudTd DataLabel="XPA">@context.ExtraPointsAttempted</MudTd>
                                    <MudTd DataLabel="PTS">@context.Points</MudTd>
                                    <MudTd DataLabel="PUNTS">@context.Punts</MudTd>
                                    <MudTd DataLabel="YDS">@context.PuntingYards</MudTd>
                                    <MudTd DataLabel="LNG">@context.LongestPunt</MudTd>
                                </RowTemplate>
                            </MudTable>
                        </MudItem>
                        <MudItem Style="padding-top: 25px;">
                            <MudSimpleTable Class="border border-solid" Style="border-color: #000000">
                                <thead>
                                    <tr class="mud-theme-primary">
                                        <th></th>
                                        <th>FG</th>
                                        <th>FGA</th>
                                        <th>XPM</th>
                                        <th>XPA</th>
                                        <th>PTS</th>
                                        <th>PUNTS</th>
                                        <th>YDS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Totals:</td>
                                        <td>@HomeTotalFieldGoalsMade</td>
                                        <td>@HomeTotalFieldGoalsAttempted</td>
                                        <td>@HomeTotalExtraPointsMade</td>
                                        <td>@HomeTotalExtraPointsAttempted</td>
                                        <td>@HomeTotalPoints</td>
                                        <td>@HomeTotalPunts</td>
                                        <td>@HomeTotalPuntingYards</td>
                                    </tr>
                                </tbody>
                            </MudSimpleTable>
                        </MudItem>
                    </MudTabPanel>
                </MudTabs>
            </MudItem>
        }
        else
        {
            <Loading />
        }
    </Authorized>
    <NotAuthorized>
        <MudText>You are not authorized to view this page...</MudText>
    </NotAuthorized>
</AuthorizeView>


@code {
    [Parameter]
    public string Id { get; set; }
    private bool PageLoad = false;
    List<FootballStatsModel> Model = new List<FootballStatsModel>();
    GetGameByIdResponse GameModel { get; set; }
    GetPlayersByTeamResponse AwayPlayersModel { get; set; }
    GetPlayersByTeamResponse HomePlayersModel { get; set; }
    GetFootballStatsByTeamResponse AwayPlayerStatsModel { get; set; }
    GetFootballStatsByTeamResponse HomePlayerStatsModel { get; set; }
    private int AwayTotalPassingCompletions = 0;
    private int AwayTotalPassingAttempts = 0;
    private int AwayTotalPassingYards = 0;
    private int AwayTotalPassingTouchdowns = 0;
    private int AwayTotalPassingInterceptions = 0;
    private int AwayTotalSacks = 0;
    private int AwayTotalRushingAttempts = 0;
    private int AwayTotalRushingYards = 0;
    private int AwayTotalRushingTouchdowns = 0;
    private int AwayTotalRushingFumbles = 0;
    private int AwayTotalRushingFumblesLost = 0;
    private int AwayTotalReceptions = 0;
    private int AwayTotalTargets = 0;
    private int AwayTotalReceivingYards = 0;
    private int AwayTotalReceivingTouchdowns = 0;
    private int AwayTotalReceivingFumbles = 0;
    private int AwayTotalReceivingFumblesLost = 0;
    private int AwayTotalYardsAfterCatch = 0;
    private int AwayTotalTackles = 0;
    private int AwayTotalDefensiveSacks = 0;
    private int AwayTotalTacklesForLoss = 0;
    private int AwayTotalPassesDefended = 0;
    private int AwayTotalDefensiveInterceptions = 0;
    private int AwayTotalDefensiveInterceptionYards = 0;
    private int AwayTotalDefensiveTouchdowns = 0;
    private int AwayTotalForcedFumbles = 0;
    private int AwayTotalRecoveredFumbles = 0;
    private int AwayTotalFieldGoalsMade = 0;
    private int AwayTotalFieldGoalsAttempted = 0;
    private int AwayTotalExtraPointsMade = 0;
    private int AwayTotalExtraPointsAttempted = 0;
    private int AwayTotalPoints = 0;
    private int AwayTotalPunts = 0;
    private int AwayTotalPuntingYards = 0;

    private int HomeTotalPassingCompletions = 0;
    private int HomeTotalPassingAttempts = 0;
    private int HomeTotalPassingYards = 0;
    private int HomeTotalPassingTouchdowns = 0;
    private int HomeTotalPassingInterceptions = 0;
    private int HomeTotalSacks = 0;
    private int HomeTotalRushingAttempts = 0;
    private int HomeTotalRushingYards = 0;
    private int HomeTotalRushingTouchdowns = 0;
    private int HomeTotalRushingFumbles = 0;
    private int HomeTotalRushingFumblesLost = 0;
    private int HomeTotalReceptions = 0;
    private int HomeTotalTargets = 0;
    private int HomeTotalReceivingYards = 0;
    private int HomeTotalReceivingTouchdowns = 0;
    private int HomeTotalReceivingFumbles = 0;
    private int HomeTotalReceivingFumblesLost = 0;
    private int HomeTotalYardsAfterCatch = 0;
    private int HomeTotalTackles = 0;
    private int HomeTotalDefensiveSacks = 0;
    private int HomeTotalTacklesForLoss = 0;
    private int HomeTotalPassesDefended = 0;
    private int HomeTotalDefensiveInterceptions = 0;
    private int HomeTotalDefensiveInterceptionYards = 0;
    private int HomeTotalDefensiveTouchdowns = 0;
    private int HomeTotalForcedFumbles = 0;
    private int HomeTotalRecoveredFumbles = 0;
    private int HomeTotalFieldGoalsMade = 0;
    private int HomeTotalFieldGoalsAttempted = 0;
    private int HomeTotalExtraPointsMade = 0;
    private int HomeTotalExtraPointsAttempted = 0;
    private int HomeTotalPoints = 0;
    private int HomeTotalPunts = 0;
    private int HomeTotalPuntingYards = 0;

    protected override async Task OnInitializedAsync()
    {
        if (await AuthorizationStatus.IsUserAccessTokenExpired(HttpContextAccessor))
        {
            NavManager.NavigateTo("authentication/logout");
        }

        var gameId = Guid.Parse(Id);
        GameModel = await GameService.GetGameById(gameId);
        AwayPlayersModel = await PlayerService.GetPlayersByTeam(GameModel.Game.AwayTeam.Id);
        HomePlayersModel = await PlayerService.GetPlayersByTeam(GameModel.Game.HomeTeam.Id);
        AwayPlayerStatsModel = await StatsService.GetFootballStatsByTeam(GameModel.Game.AwayTeam.Id);
        HomePlayerStatsModel = await StatsService.GetFootballStatsByTeam(GameModel.Game.HomeTeam.Id);
        await GetImageAsync();
        foreach (var player in AwayPlayersModel.Players)
        {
            var playerStat = AwayPlayerStatsModel.FootballStats.FirstOrDefault(x => x.PlayerId == player.Id && x.GameId == GameModel.Game.Id);

            if (playerStat is not null)
            {
                Model.Add(new FootballStatsModel(GameModel.Game.LeagueId, player.TeamId, player.Id, GameModel.Game.SeasonId, GameModel.Game.Id, player.FirstName, player.LastName,
                                                   playerStat.OffensiveStats.PassingCompletions, playerStat.OffensiveStats.PassingAttempts, playerStat.OffensiveStats.PassingYards,
                                                   playerStat.OffensiveStats.LongestPassingPlay, playerStat.OffensiveStats.PassingTouchdowns, playerStat.OffensiveStats.PassingInterceptions,
                                                   playerStat.OffensiveStats.Sacks, playerStat.OffensiveStats.RushingAttempts, playerStat.OffensiveStats.RushingYards,
                                                   playerStat.OffensiveStats.LongestRushingPlay, playerStat.OffensiveStats.RushingTouchdowns, playerStat.OffensiveStats.RushingFumbles, playerStat.OffensiveStats.RushingFumblesLost,
                                                   playerStat.OffensiveStats.Receptions, playerStat.OffensiveStats.Targets, playerStat.OffensiveStats.ReceivingYards, playerStat.OffensiveStats.ReceivingTouchdowns,
                                                   playerStat.OffensiveStats.ReceivingFumbles, playerStat.OffensiveStats.ReceivingFumblesLost, playerStat.OffensiveStats.YardsAfterCatch,
                                                   playerStat.DefensiveStats.Tackles, playerStat.DefensiveStats.Sacks, playerStat.DefensiveStats.TacklesForLoss, playerStat.DefensiveStats.PassesDefended,
                                                   playerStat.DefensiveStats.DefensiveInterceptions, playerStat.DefensiveStats.DefensiveInterceptionYards, playerStat.DefensiveStats.LongestDefensiveInterceptionPlay,
                                                   playerStat.DefensiveStats.DefensiveTouchdowns, playerStat.DefensiveStats.ForcedFumbles, playerStat.DefensiveStats.RecoveredFumbles,
                                                   playerStat.KickingStats.FieldGoalsMade, playerStat.KickingStats.FieldGoalsAttempted, playerStat.KickingStats.ExtraPointsMade, playerStat.KickingStats.ExtraPointsAttempted,
                                                   playerStat.KickingStats.LongestKick, playerStat.KickingStats.Points,
                                                   playerStat.KickingStats.Punts, playerStat.KickingStats.PuntingYards, playerStat.KickingStats.LongestPunt));

                AwayTotalPassingCompletions += playerStat.OffensiveStats.PassingCompletions;
                AwayTotalPassingAttempts += playerStat.OffensiveStats.PassingAttempts;
                AwayTotalPassingYards += playerStat.OffensiveStats.PassingYards;
                AwayTotalPassingTouchdowns += playerStat.OffensiveStats.PassingTouchdowns;
                AwayTotalPassingInterceptions += playerStat.OffensiveStats.PassingInterceptions;
                AwayTotalSacks += playerStat.OffensiveStats.Sacks;
                AwayTotalRushingAttempts += playerStat.OffensiveStats.RushingAttempts;
                AwayTotalRushingYards += playerStat.OffensiveStats.RushingYards;
                AwayTotalRushingTouchdowns += playerStat.OffensiveStats.RushingTouchdowns;
                AwayTotalRushingFumbles += playerStat.OffensiveStats.RushingFumbles;
                AwayTotalRushingFumblesLost += playerStat.OffensiveStats.RushingFumblesLost;
                AwayTotalReceptions += playerStat.OffensiveStats.Receptions;
                AwayTotalTargets += playerStat.OffensiveStats.Targets;
                AwayTotalReceivingYards += playerStat.OffensiveStats.ReceivingYards;
                AwayTotalReceivingTouchdowns += playerStat.OffensiveStats.ReceivingTouchdowns;
                AwayTotalReceivingFumbles += playerStat.OffensiveStats.ReceivingFumbles;
                AwayTotalReceivingFumblesLost += playerStat.OffensiveStats.ReceivingFumblesLost;
                AwayTotalYardsAfterCatch += playerStat.OffensiveStats.YardsAfterCatch;
                AwayTotalTackles += playerStat.DefensiveStats.Tackles;
                AwayTotalDefensiveSacks += playerStat.DefensiveStats.Sacks;
                AwayTotalTacklesForLoss += playerStat.DefensiveStats.TacklesForLoss;
                AwayTotalPassesDefended += playerStat.DefensiveStats.PassesDefended;
                AwayTotalDefensiveInterceptions += playerStat.DefensiveStats.DefensiveInterceptions;
                AwayTotalDefensiveInterceptionYards += playerStat.DefensiveStats.DefensiveInterceptionYards;
                AwayTotalDefensiveTouchdowns += playerStat.DefensiveStats.DefensiveTouchdowns;
                AwayTotalForcedFumbles += playerStat.DefensiveStats.ForcedFumbles;
                AwayTotalRecoveredFumbles += playerStat.DefensiveStats.RecoveredFumbles;
                AwayTotalFieldGoalsMade += playerStat.KickingStats.FieldGoalsMade;
                AwayTotalFieldGoalsAttempted += playerStat.KickingStats.FieldGoalsAttempted;
                AwayTotalExtraPointsMade += playerStat.KickingStats.ExtraPointsMade;
                AwayTotalExtraPointsAttempted += playerStat.KickingStats.ExtraPointsAttempted;
                AwayTotalPoints += playerStat.KickingStats.Points;
                AwayTotalPunts += playerStat.KickingStats.Punts;
                AwayTotalPuntingYards += playerStat.KickingStats.PuntingYards;


            }
            else if (GameModel.Game.GameStatus == GameStatus.Completed)
                Model.Add(new FootballStatsModel(GameModel.Game.LeagueId, player.TeamId, player.Id, GameModel.Game.SeasonId, GameModel.Game.Id, player.FirstName, player.LastName));
        }

        foreach (var player in HomePlayersModel.Players)
        {
            var playerStat = HomePlayerStatsModel.FootballStats.FirstOrDefault(x => x.PlayerId == player.Id && x.GameId == GameModel.Game.Id);

            if (playerStat is not null)
            {
                Model.Add(new FootballStatsModel(GameModel.Game.LeagueId, player.TeamId, player.Id, GameModel.Game.SeasonId, GameModel.Game.Id, player.FirstName, player.LastName,
                                                   playerStat.OffensiveStats.PassingCompletions, playerStat.OffensiveStats.PassingAttempts, playerStat.OffensiveStats.PassingYards,
                                                   playerStat.OffensiveStats.LongestPassingPlay, playerStat.OffensiveStats.PassingTouchdowns, playerStat.OffensiveStats.PassingInterceptions,
                                                   playerStat.OffensiveStats.Sacks, playerStat.OffensiveStats.RushingAttempts, playerStat.OffensiveStats.RushingYards,
                                                   playerStat.OffensiveStats.LongestRushingPlay, playerStat.OffensiveStats.RushingTouchdowns, playerStat.OffensiveStats.RushingFumbles, playerStat.OffensiveStats.RushingFumblesLost,
                                                   playerStat.OffensiveStats.Receptions, playerStat.OffensiveStats.Targets, playerStat.OffensiveStats.ReceivingYards, playerStat.OffensiveStats.ReceivingTouchdowns,
                                                   playerStat.OffensiveStats.ReceivingFumbles, playerStat.OffensiveStats.ReceivingFumblesLost, playerStat.OffensiveStats.YardsAfterCatch,
                                                   playerStat.DefensiveStats.Tackles, playerStat.DefensiveStats.Sacks, playerStat.DefensiveStats.TacklesForLoss, playerStat.DefensiveStats.PassesDefended,
                                                   playerStat.DefensiveStats.DefensiveInterceptions, playerStat.DefensiveStats.DefensiveInterceptionYards, playerStat.DefensiveStats.LongestDefensiveInterceptionPlay,
                                                   playerStat.DefensiveStats.DefensiveTouchdowns, playerStat.DefensiveStats.ForcedFumbles, playerStat.DefensiveStats.RecoveredFumbles,
                                                   playerStat.KickingStats.FieldGoalsMade, playerStat.KickingStats.FieldGoalsAttempted, playerStat.KickingStats.ExtraPointsMade, playerStat.KickingStats.ExtraPointsAttempted,
                                                   playerStat.KickingStats.LongestKick, playerStat.KickingStats.Points,
                                                   playerStat.KickingStats.Punts, playerStat.KickingStats.PuntingYards, playerStat.KickingStats.LongestPunt));

                HomeTotalPassingCompletions += playerStat.OffensiveStats.PassingCompletions;
                HomeTotalPassingAttempts += playerStat.OffensiveStats.PassingAttempts;
                HomeTotalPassingYards += playerStat.OffensiveStats.PassingYards;
                HomeTotalPassingTouchdowns += playerStat.OffensiveStats.PassingTouchdowns;
                HomeTotalPassingInterceptions += playerStat.OffensiveStats.PassingInterceptions;
                HomeTotalSacks += playerStat.OffensiveStats.Sacks;
                HomeTotalRushingAttempts += playerStat.OffensiveStats.RushingAttempts;
                HomeTotalRushingYards += playerStat.OffensiveStats.RushingYards;
                HomeTotalRushingTouchdowns += playerStat.OffensiveStats.RushingTouchdowns;
                HomeTotalRushingFumbles += playerStat.OffensiveStats.RushingFumbles;
                HomeTotalRushingFumblesLost += playerStat.OffensiveStats.RushingFumblesLost;
                HomeTotalReceptions += playerStat.OffensiveStats.Receptions;
                HomeTotalTargets += playerStat.OffensiveStats.Targets;
                HomeTotalReceivingYards += playerStat.OffensiveStats.ReceivingYards;
                HomeTotalReceivingTouchdowns += playerStat.OffensiveStats.ReceivingTouchdowns;
                HomeTotalReceivingFumbles += playerStat.OffensiveStats.ReceivingFumbles;
                HomeTotalReceivingFumblesLost += playerStat.OffensiveStats.ReceivingFumblesLost;
                HomeTotalYardsAfterCatch += playerStat.OffensiveStats.YardsAfterCatch;
                HomeTotalTackles += playerStat.DefensiveStats.Tackles;
                HomeTotalDefensiveSacks += playerStat.DefensiveStats.Sacks;
                HomeTotalTacklesForLoss += playerStat.DefensiveStats.TacklesForLoss;
                HomeTotalPassesDefended += playerStat.DefensiveStats.PassesDefended;
                HomeTotalDefensiveInterceptions += playerStat.DefensiveStats.DefensiveInterceptions;
                HomeTotalDefensiveInterceptionYards += playerStat.DefensiveStats.DefensiveInterceptionYards;
                HomeTotalDefensiveTouchdowns += playerStat.DefensiveStats.DefensiveTouchdowns;
                HomeTotalForcedFumbles += playerStat.DefensiveStats.ForcedFumbles;
                HomeTotalRecoveredFumbles += playerStat.DefensiveStats.RecoveredFumbles;
                HomeTotalFieldGoalsMade += playerStat.KickingStats.FieldGoalsMade;
                HomeTotalFieldGoalsAttempted += playerStat.KickingStats.FieldGoalsAttempted;
                HomeTotalExtraPointsMade += playerStat.KickingStats.ExtraPointsMade;
                HomeTotalExtraPointsAttempted += playerStat.KickingStats.ExtraPointsAttempted;
                HomeTotalPoints += playerStat.KickingStats.Points;
                HomeTotalPunts += playerStat.KickingStats.Punts;
                HomeTotalPuntingYards += playerStat.KickingStats.PuntingYards;

            }
            else if (GameModel.Game.GameStatus == GameStatus.Completed)
                Model.Add(new FootballStatsModel(GameModel.Game.LeagueId, player.TeamId, player.Id, GameModel.Game.SeasonId, GameModel.Game.Id, player.FirstName, player.LastName));
        }

        PageLoad = true;
    }

    private async Task GetImageAsync()
    {
        var league = await LeagueService.GetLeague(GameModel.Game.LeagueId);
        var awayTeam = await TeamService.GetTeamById(GameModel.Game.AwayTeam.Id);
        var homeTeam = await TeamService.GetTeamById(GameModel.Game.HomeTeam.Id);
        var awayTeamKeyPath = $"/{league.League.Sport}/{league.League.Name}/teams/{awayTeam.Team.TeamName}/{awayTeam.Team.ImageFile}";
        GameModel.Game.AwayTeamImage = await AWSService.GetImage(awayTeamKeyPath);

        var homeTeamKeyPath = $"/{league.League.Sport}/{league.League.Name}/teams/{homeTeam.Team.TeamName}/{homeTeam.Team.ImageFile}";
        GameModel.Game.HomeTeamImage = await AWSService.GetImage(homeTeamKeyPath);
    }

    public class FootballStatsModel
    {
        public FootballStatsModel()
        {

        }

        public FootballStatsModel(Guid leagueId, Guid teamId, Guid playerId, Guid seasonId, Guid gameId, string firstName, string lastName)
        {
            LeagueId = leagueId;
            TeamId = teamId;
            PlayerId = playerId;
            SeasonId = seasonId;
            GameId = gameId;
            PlayerName = String.Concat(firstName + " " + lastName);
        }

        public FootballStatsModel(Guid leagueId, Guid teamId, Guid playerId, Guid seasonId, Guid gameId, string firstName, string lastName,
                                       int passingCompletions, int passingAttempts, int passingYards, int longestPassingPlay, int passingTouchdowns, int passingInterceptions, int sacks,
                                       int rushingAttempts, int rushingYards, int longestRushingPlay, int rushingTouchdowns, int rushingFumbles, int rushingFumblesLost,
                                       int receptions, int targets, int receivingYards, int receivingTouchdowns, int receivingFumbles, int receivingFumblesLost, int yardsAfterCatch,
                                       int tackles, int defensiveSacks, int tacklesForLoss, int passesDefended, int defensiveInterceptions, int defensiveInterceptionYards,
                                       int longestDefensiveInterceptionPlay, int defensiveTouchdowns, int forcedFumbles, int recoveredFumbles,
                                       int fieldGoalsMade, int fieldGoalsAttempted, int extraPointsMade, int extraPointsAttempted, int longestKick, int points, int punts, int puntingYards,
                                       int longestPunt)
        {
            LeagueId = leagueId;
            TeamId = teamId;
            PlayerId = playerId;
            SeasonId = seasonId;
            GameId = gameId;
            PlayerName = String.Concat(firstName + " " + lastName);
            PassingCompletions = passingCompletions;
            PassingAttempts = passingAttempts;
            PassingYards = passingYards;
            LongestPassingPlay = longestPassingPlay;
            PassingTouchdowns = passingTouchdowns;
            PassingInterceptions = passingInterceptions;
            Sacks = sacks;
            RushingAttempts = rushingAttempts;
            RushingYards = rushingYards;
            LongestRushingPlay = longestRushingPlay;
            RushingTouchdowns = rushingTouchdowns;
            RushingFumbles = rushingFumbles;
            RushingFumblesLost = rushingFumblesLost;
            Receptions = receptions;
            Targets = targets;
            ReceivingYards = receivingYards;
            ReceivingTouchdowns = receivingTouchdowns;
            ReceivingFumbles = receivingFumbles;
            ReceivingFumblesLost = receivingFumblesLost;
            YardsAfterCatch = yardsAfterCatch;
            Tackles = tackles;
            DefensiveSacks = defensiveSacks;
            TacklesForLoss = tacklesForLoss;
            PassesDefended = passesDefended;
            DefensiveInterceptions = defensiveInterceptions;
            DefensiveInterceptionYards = defensiveInterceptionYards;
            LongestDefensiveInterceptionPlay = longestDefensiveInterceptionPlay;
            DefensiveTouchdowns = defensiveTouchdowns;
            ForcedFumbles = forcedFumbles;
            RecoveredFumbles = recoveredFumbles;
            FieldGoalsMade = fieldGoalsMade;
            FieldGoalsAttempted = fieldGoalsAttempted;
            ExtraPointsMade = extraPointsMade;
            ExtraPointsAttempted = extraPointsAttempted;
            LongestKick = longestKick;
            Points = points;
            Punts = punts;
            PuntingYards = puntingYards;
            LongestPunt = longestPunt;
        }

        public Guid LeagueId { get; set; }
        public Guid TeamId { get; set; }
        public Guid PlayerId { get; set; }
        public Guid SeasonId { get; set; }
        public Guid GameId { get; set; }
        public string PlayerName { get; set; }
        public int PassingCompletions { get; set; }
        public int PassingAttempts { get; set; }
        public int PassingYards { get; set; }
        public int LongestPassingPlay { get; set; }
        public int PassingTouchdowns { get; set; }
        public int PassingInterceptions { get; set; }
        public int Sacks { get; set; }
        public int RushingAttempts { get; set; }
        public int RushingYards { get; set; }
        public int LongestRushingPlay { get; set; }
        public int RushingTouchdowns { get; set; }
        public int RushingFumbles { get; set; }
        public int RushingFumblesLost { get; set; }
        public int Receptions { get; set; }
        public int Targets { get; set; }
        public int ReceivingYards { get; set; }
        public int ReceivingTouchdowns { get; set; }
        public int ReceivingFumbles { get; set; }
        public int ReceivingFumblesLost { get; set; }
        public int YardsAfterCatch { get; set; }
        public int Tackles { get; set; }
        public int DefensiveSacks { get; set; }
        public int TacklesForLoss { get; set; }
        public int PassesDefended { get; set; }
        public int DefensiveInterceptions { get; set; }
        public int DefensiveInterceptionYards { get; set; }
        public int LongestDefensiveInterceptionPlay { get; set; }
        public int DefensiveTouchdowns { get; set; }
        public int ForcedFumbles { get; set; }
        public int RecoveredFumbles { get; set; }
        public int FieldGoalsMade { get; set; }
        public int FieldGoalsAttempted { get; set; }
        public int ExtraPointsMade { get; set; }
        public int ExtraPointsAttempted { get; set; }
        public int LongestKick { get; set; }
        public int Points { get; set; }
        public int Punts { get; set; }
        public int PuntingYards { get; set; }
        public int LongestPunt { get; set; }
    }

}
