@page "/leagues"
@inject ILeagueService LeagueService
@inject IHttpContextAccessor HttpContextAccessor
@inject NavigationManager NavManager
@inject IAWSService AWSService


<AuthorizeView Roles="@Roles.ReadLeagues" Context="auth">
    <Authorized>
        @if (PageLoad)
        {
            <div style="padding-bottom: 200px;">
                <div style="padding-top: 50px;">
                    <MudText Typo="Typo.h3" Align="Align.Center" Style="font-weight:bold" Color="Color.Primary">All Leagues</MudText>
                    <MudSpacer />
                    <AuthorizeView Roles="@Roles.CreateLeagues">
                        <MudStack Justify="Justify.FlexStart">
                            <MudButton Href="/createleague" Variant="Variant.Filled" Color="Color.Primary" style="width: 200px;">Create</MudButton>
                        </MudStack>
                    </AuthorizeView>
                </div>
                @for (var i = 1; i <= Counter; i++)
                {
                    <div style="padding-top: 25px;">
                        <MudStack Justify="@_justify" Row="true">
                            @foreach (var league in GetLeaguesForRow(LeagueCounter))
                            {
                                string updateLeagueLink = String.Concat("/updateleague/", league.Id);
                                string teamsLink = String.Concat("/teamsbyleague/", league.Id);
                                string standingsLink = String.Concat("/leaguestandings/", league.Id);
                                string statsLeadersLink = string.Empty;
                                if(league.Sport == SportName.BASEBALL)
                                {
                                    statsLeadersLink = String.Concat("/baseballleaguestatsleaders/", league.Id);
                                }
                                if(league.Sport == SportName.BASKETBALL)
                                {
                                    statsLeadersLink = String.Concat("/basketballleaguestatsleaders/", league.Id);
                                }
                                if (league.Sport == SportName.FOOTBALL)
                                {
                                    statsLeadersLink = String.Concat("/footballleaguestatsleaders/", league.Id);
                                }
                                string gamesLink = String.Concat("/leaguegames/", league.Id);
                                <MudCard>
                                    <MudCardMedia Image="@league.Image" Height="200" />
                                    <MudCardContent>
                                        <MudText Typo="Typo.h5" Style="font-weight: bold;">@league.Name</MudText>
                                        <MudText Typo="Typo.body2">@league.EmailAddress</MudText>
                                        <MudText Typo="Typo.body2">@league.Description</MudText>
                                    </MudCardContent>
                                    <MudCardActions Style="align-content: center">
                                        <MudButton Href="@gamesLink" Variant="Variant.Text" Color="Color.Primary">Games</MudButton>
                                        <MudButton Href="@standingsLink" Variant="Variant.Text" Color="Color.Primary">Standings</MudButton>
                                        <MudButton Href="@teamsLink" Variant="Variant.Text" Color="Color.Primary">Teams</MudButton>
                                        <MudButton Href="@statsLeadersLink" Variant="Variant.Text" Color="Color.Primary">Leaders</MudButton>
                                        <AuthorizeView Roles="@Roles.UpdateLeagues">
                                            <MudButton Href="@updateLeagueLink" Variant="Variant.Text" Color="Color.Primary">Update</MudButton>
                                        </AuthorizeView>
                                        <AuthorizeView Roles="@Roles.DeleteLeagues">
                                            <MudButton Variant="Variant.Text" Color="Color.Error" OnClick="@(() => OpenDialogAsync(league.Id))">Delete</MudButton>
                                        </AuthorizeView>
                                    </MudCardActions>
                                </MudCard>
                            }
                        </MudStack>
                    </div>
                }
            </div>
        }
        else
        {
            <Loading />
        }
    </Authorized>
    <NotAuthorized>
        <MudText>You are not authorized to view this page...</MudText>
    </NotAuthorized>
</AuthorizeView>

@code {
    [Inject] private IDialogService DialogService { get; set; }

    string state = "Message box hasn't been opened yet";
    private bool PageLoad = false;
    private Justify _justify = Justify.SpaceBetween;
    private int LeagueCount = 0;
    private int PageSize = 0;
    private int Counter = 0;
    private int LeagueCounter = 0;
    private bool canUpdate = false;
    private bool canDelete = false;

    private GetLeaguesResponse LeaguesReponse { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (await AuthorizationStatus.IsUserAccessTokenExpired(HttpContextAccessor))
        {
            NavManager.NavigateTo("authentication/logout");
        }

        LeaguesReponse = await LeagueService.GetLeagues(1, 10);
        await GetImageAsync();
        LeagueCount = (int)LeaguesReponse.Leagues.Count();
        Console.WriteLine(LeagueCount);
        PageSize = 2;
        Console.WriteLine(PageSize);
        Counter = (int)Math.Ceiling((decimal)LeagueCount / (decimal)PageSize);
        Console.WriteLine(Counter);
        PageLoad = true;
    }

    private async Task GetImageAsync()
    {
        foreach (var league in LeaguesReponse.Leagues)
        {
            string keyPath = $"/{league.Sport}/{league.Name}/{league.ImageFile}";
            league.Image = await AWSService.GetImage(keyPath);
        }
    }

    private Task OpenDialogAsync(Guid id)
    {
        var parameters = new DialogParameters<DeleteLeagueMessageBox> { { x => x.Id, id } };
        var options = new DialogOptions { CloseOnEscapeKey = true };

        return DialogService.ShowAsync<DeleteLeagueMessageBox>("Delete League", parameters, options);
    }

    private IEnumerable<LeagueModel> GetLeaguesForRow(int count)
    {
        Console.WriteLine(count);
        var leagues = LeaguesReponse.Leagues.OrderBy(p => p.Name).Skip(2 * count).Take(2);
        LeagueCounter++;
        return leagues;
    }
}
