@page "/playersbyposition/{position}"
@inject IPlayerService PlayerService
@inject ITeamService TeamService
@inject ILeagueService LeagueService

@if (PageLoad)
{
    <div style="padding-bottom: 200px;">
        <div style="padding-top: 50px;">s
            <MudText Typo="Typo.h3" Align="Align.Center" Style="font-weight:bold" Color="Color.Primary">Players</MudText>
        </div>

        @for (var i = 1; i <= Counter; i++)
        {
            <div style="padding-top: 25px;">
                <MudStack Justify="@_justify" Row="true">
                    @foreach (var player in GetPlayersForRow(PlayerCounter))
                    {
                        string imageFile = String.Concat("images/", player.ImageFile);
                        string statsLink = GetStatLink(player);
                        string address = String.Concat(player.PlayerAddress.AddressLine, ", ", player.PlayerAddress.State, ", ", player.PlayerAddress.ZipCode);
                        string teamName = GetTeamName(player.TeamId);
                        <MudCard>
                            <MudCardMedia Image="@imageFile" Height="200" />
                            <MudCardContent>
                                <MudText Typo="Typo.h5" Style="font-weight: bold;">@player.FirstName @player.LastName</MudText>
                                <MudText Typo="Typo.body1" Style="padding-bottom: 5px;">@teamName</MudText>
                                <MudText Typo="Typo.body2">@address</MudText>
                                <MudText Typo="Typo.body2">Birthday: @player.PlayerDetail.BirthDate.ToString("MMM dd, yyyy")</MudText>
                                <MudText Typo="Typo.body2">Height: @player.PlayerDetail.Height (inches)</MudText>
                                <MudText Typo="Typo.body2">Weight: @player.PlayerDetail.Weight (lbs)</MudText>
                                <MudText Typo="Typo.body2">@player.PlayerDetail.EmailAddress</MudText>
                                <MudText Typo="Typo.body2">@player.PlayerDetail.PhoneNumber</MudText>
                                <MudText Typo="Typo.body2">Postion: @player.PlayerDetail.Position</MudText>
                            </MudCardContent>
                            <MudCardActions Style="align-content: center">
                                <MudButton Href="@statsLink" Variant="Variant.Text" Color="Color.Primary">Stats</MudButton>
                            </MudCardActions>
                        </MudCard>
                    }
                </MudStack>
            </div>

        }

    </div>

}
else
{
    <Loading />
}

@code {
    private bool PageLoad = false;
    private int PlayerCount = 0;
    private int PageSize = 0;
    private int Counter = 0;
    private Justify _justify = Justify.SpaceEvenly;
    private int PlayerCounter = 0;

    [Parameter]
    public string Position { get; set; }

    private GetPlayersByPositionResponse PlayersResponse { get; set; }
    private GetTeamsResponse TeamsResponse { get; set; }
    private GetLeaguesResponse LeaguesResponse { get; set; }


    protected override async Task OnInitializedAsync()
    {
        PlayersResponse = await PlayerService.GetPlayersByPosition(Position);
        TeamsResponse = await TeamService.GetTeams(0, 100);
        LeaguesResponse = await LeagueService.GetLeagues();
        PlayerCount = (int)PlayersResponse.Players.Count();
        Console.WriteLine(PlayerCount);
        PageSize = 4;
        Console.WriteLine(PageSize);
        Counter = (int)Math.Ceiling((decimal)PlayerCount / (decimal)PageSize);
        Console.WriteLine(Counter);
        PageLoad = true;
    }

    private string GetTeamName(Guid id)
    {
        var team = TeamsResponse.Teams.Data.FirstOrDefault(t => t.Id == id);

        if (team == null)
            return string.Empty;

        return team.TeamName;
    }

    private string GetStatLink(PlayerModel player)
    {
        var team = TeamsResponse.Teams.Data.FirstOrDefault(t => t.Id == player.TeamId);
        var league = LeaguesResponse.Leagues.FirstOrDefault(t => t.Id == team.LeagueId);

        if (league == null)
            return string.Empty;

        if (league.Sport == SportName.BASEBALL)
            return String.Concat("/baseballplayerstats/", player.Id);
        else if (league.Sport == SportName.FOOTBALL)
            return String.Concat("/footballplayerstats/", player.Id);
        else
            return String.Concat("/basketballplayerstats/", player.Id);
    }

    private IEnumerable<PlayerModel> GetPlayersForRow(int count)
    {
        Console.WriteLine(count);
        var players = PlayersResponse.Players.OrderBy(p => p.LastName).ThenBy(p => p.FirstName).Skip(4 * count).Take(4);
        PlayerCounter++;
        return players;
    }


    // private async void PageChanged(int i)
    // {
    //     i = i - 1;
    //     PlayersResponse = await PlayerService.GetPlayers(i, PageSize);
    // }
}
