@page "/createseason"
@using League.Builder.Web.Server.Services.Cache
@inject ISeasonService SeasonService
@inject ITeamService TeamsService
@inject IStandingsService StandingsService
@inject ISnackbar Snackbar
@inject NavigationManager NavManager
@inject ErrorState ErrorState
@inject IHttpContextAccessor HttpContextAccessor
@inject IValidator<CreateSeasonModel> CreateSeasonValidator
@inject IDialogService DialogService
@inject ISeasonLocalCacheService SeasonLocalCache
@inject ITeamLocalCacheService TeamLocalCache
@inject IStandingsLocalCacheService StandingsLocalCache
@inject IJSRuntime JsRuntime
@inject KeycloakTokenService KeycloakTokenService

<AuthorizeView Roles="@String.Concat(Roles.CreateSeasons)" Context="auth">
    <Authorized>
        <MudItem Class="pt-12">
            <MudPaper Class="border border-solid p-25" Style="border-color: #000000;">
                <MudText Typo="Typo.h4" Align="Align.Center" Class="font-bold">Create Season</MudText>
            </MudPaper>
        </MudItem>
        <MudItem Class="mt-50 mb-50">
            <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
                <FluentValidationValidator @ref="fluentValidationValidator" />
                <MudPaper Class="border border-solid p-25" Style="border-color: #000000; width: 100%;">
                    <MudStepper @bind-ActiveIndex="_index" OnPreviewInteraction="@OnStepInteraction" CurrentStepColor="Color.Secondary" CompletedStepColor="Color.Success">
                        <ChildContent>
                            <MudStep Title="Create Season Information">
                                <MudGrid Justify="Justify.Center">
                                    <MudItem xs="12" sm="10">
                                        @Card(@<div>
                                                @StepHeader(Icons.Material.Filled.Info, "Season Information")
                                                <MudTextField Required Label="Season Year"
                                                                @bind-Value="model.Year" For="@(() => model.Year)" Clearable/>
                                                <MudTextField Label="Description" Class="mt-3"
                                                                @bind-Value="model.Description" For="@(() => model.Description)" Clearable/>
                                            </div>)
                                    </MudItem>
                                </MudGrid>
                            </MudStep>
                            <MudStep Title="Review">
                                <MudGrid Justify="Justify.Center">
                                    <MudItem xs="12" sm="10">
                                        @Card(@<div>
                                            @StepHeader(Icons.Material.Filled.RemoveRedEye, "Review")
                                            <MudTextField Required ReadOnly Label="Season Year"
                                                            @bind-Value="model.Year" For="@(() => model.Year)" />
                                            <MudTextField ReadOnly Label="Description" Class="mt-3"
                                                            @bind-Value="model.Description" For="@(() => model.Description)" />
                                        </div>,
                                        @<MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" FullWidth="true">Create</MudButton>)
                                    </MudItem>
                                </MudGrid>
                            </MudStep>
                        </ChildContent>
                        <ActionContent Context="stepper">
                            <MudIconButton OnClick="@(() => stepper.PreviousStepAsync())"
                                           Icon="@Icons.Material.Filled.ArrowBack"
                                           Color="Color.Primary"
                                           Disabled="_index == 0">
                            </MudIconButton>
                            <MudSpacer />
                            <MudIconButton OnClick="@(() => stepper.NextStepAsync())"
                                           Icon="@Icons.Material.Filled.ArrowForward"
                                           Color="Color.Primary"
                                           Disabled="_index == 1">
                            </MudIconButton>
                        </ActionContent>
                    </MudStepper>
                </MudPaper>
            </EditForm>
        </MudItem>
    </Authorized>
    <NotAuthorized>
        <NoAccess />
    </NotAuthorized>
</AuthorizeView>

@code {
    CreateSeasonModel model = new CreateSeasonModel();
    private int _index;
    private bool canProceed = false;
    private List<string> errors = new();
    private GetTeamsResponse TeamsModel { get; set; }
    private GetSeasonByIdResponse SeasonModel { get; set; }
    private FluentValidationValidator fluentValidationValidator;
    private IJSObjectReference? _module;

    private async Task OnValidSubmit(EditContext context)
    {
        try
        {
            var response = await SeasonService.CreateSeason(new CreateSeasonRequest(model.Year, model.Description));

            await LoadAllAsync(response.Id);

            await CreateSeasonForTeams(TeamsModel.Teams.Data);

            NavManager.NavigateTo("/seasons");
            Snackbar.Add("Season has been created.", MudBlazor.Severity.Success);
        }
        catch (Exception ex)
        {
            await HandleError(ex);
        }
    }

    private async Task LoadAllAsync(Guid seasonId)
    {
        TeamsModel = await LoadTeamsAsync();

        SeasonModel = await LoadSeasonAsync(seasonId);
    }

    private async Task CreateSeasonForTeams(IEnumerable<TeamModel> teams)
    {
        StandingsDetailModel standingsDetailModel = new StandingsDetailModel(0, 0, 0, 0, false, false);
        foreach (var team in teams)
        {
            await StandingsService.CreateStandings(BuildStandingsRequest(team));
            await StandingsLocalCache.DeleteStandingsByLeagueCache(team.LeagueId.ToString());
        }
    }

    private CreateStandingsRequest BuildStandingsRequest(TeamModel team) =>
        new(new CreateStandingsModel(
            team.LeagueId,
            SeasonModel.Season.Id,
            new StandingsDetailModel(0, 0, 0, 0, false, false),
            new TeamDetailModel(team.Id, team.TeamName)
        ));

    private async Task OnStepInteraction(StepperInteractionEventArgs args)
    {
        canProceed = false;
        await ValidateCurrentStep();
        if (args.Action == StepAction.Complete && !canProceed)
        {
            await OpenErrorDialogAsync();
            args.Cancel = true;

        }
    }

    private Task OpenErrorDialogAsync()
    {
        var parameters = new DialogParameters<ErrorMessageBox> { { x => x.Errors, errors } };
        var options = new DialogOptions { CloseOnEscapeKey = true, MaxWidth = MaxWidth.Small, FullWidth = true };

        return DialogService.ShowAsync<ErrorMessageBox>("Errors", parameters, options);
    }


    private async Task ValidateCurrentStep()
    {
        GetSeasonsResponse seasons;
        errors.Clear();

        var props = _index switch
        {
            0 => new[] { nameof(CreateSeasonModel.Year) },
            _ => Array.Empty<string>()
        };

        seasons = await LoadSeasonsAsync();

        var doesSeasonExist = SeasonExists(seasons, model.Year);

        if (doesSeasonExist)
            errors.Add("This season already exists.");

        var result = await CreateSeasonValidator.ValidateAsync(model, options => options.IncludeProperties(props));
        if (result.IsValid && !doesSeasonExist)
            canProceed = true;

        foreach (var error in result.Errors)
            errors.Add($"{error.ErrorMessage}");

    }

    private static bool SeasonExists(GetSeasonsResponse seasons, int year) =>
        seasons.Seasons.Any(x => x.Year == year);

    private async Task HandleError(Exception ex)
    {
        if (KeycloakTokenService.ShouldForceLogout())
        {
            _module = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./js/authRefresh.js");
            await _module.InvokeVoidAsync("logout");
        }
        ErrorState.Message = ex.Message;
        NavManager.NavigateTo("/error");
    }

    private Task<GetSeasonsResponse> LoadSeasonsAsync() =>
        DataLoader.GetOrLoad(
            () => SeasonLocalCache.GetSeasonsCache(),
            () => SeasonService.GetSeasons(),
            (s) => SeasonLocalCache.SetSeasonsCache(s)
        );
    
    private Task<GetSeasonByIdResponse> LoadSeasonAsync(Guid id) =>
        DataLoader.GetOrLoad(
            () => SeasonLocalCache.GetSeasonByIdCache(id.ToString()),
            () => SeasonService.GetSeason(id),
            (s) => SeasonLocalCache.SetSeasonByIdCache(id.ToString(), s)
        );

    private Task<GetTeamsResponse> LoadTeamsAsync() =>
        DataLoader.GetOrLoad(
            () => TeamLocalCache.GetTeamsCache(),
            () => TeamsService.GetTeams(0, 1000),
            (t) => TeamLocalCache.SetTeamsCache(t)
        );

    private RenderFragment Card(RenderFragment content, RenderFragment actions = null) => @<MudCard Class="border border-solid border-black">
            <MudCardContent>
                @content
            </MudCardContent>
        @if (actions is not null)
        {
                <MudCardActions>
                    @actions
                </MudCardActions>
        }
    </MudCard>;

    private Func<string, string, RenderFragment> StepHeader = (string icon, string title) => @<MudStack Spacing="2" AlignItems="AlignItems.Center" Justify="Justify.Center" Row="true">
        <MudIcon Icon="@icon" Color="Color.Secondary" Size="Size.Medium" />
        <MudText Typo="Typo.h6" Class="font-bold">@title</MudText>
        </MudStack>;
}
