<MudItem Style="padding-top: 25px;">
    <MudSimpleTable Class="border border-solid" Style="border-color: #000000">
        <thead>
            <tr class="mud-theme-primary">
                <th></th>
                <th>AB</th>
                <th>R</th>
                <th>H</th>
                <th>RBI</th>
                <th>BB</th>
                <th>HBP</th>
                <th>K</th>
                <th>SB</th>
                <th>TB</th>
                <th>2B</th>
                <th>3B</th>
                <th>HR</th>
                <th>SF</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Totals:</td>
                <td><span style="margin-left: 5px;">@Totals.AtBats</span></td>
                <td>@Totals.Runs</td>
                <td>@Totals.Hits</td>
                <td><span style="margin-left: 7px;">@Totals.RBIs</span></td>
                <td><span style="margin-left: 5px;">@Totals.Walks</span></td>
                <td><span style="margin-left: 7px;">@Totals.HBPs</span></td>
                <td>@Totals.Strikeouts</td>
                <td><span style="margin-left: 5px;">@Totals.SBs</span></td>
                <td><span style="margin-left: 5px;">@Totals.TBs</span></td>
                <td><span style="margin-left: 5px;">@Totals.Doubles</span></td>
                <td><span style="margin-left: 5px;">@Totals.Triples</span></td>
                <td><span style="margin-left: 5px;">@Totals.HomeRuns</span></td>
                <td><span style="margin-left: 5px;">@Totals.SFs</span></td>
            </tr>
        </tbody>
    </MudSimpleTable>

</MudItem>

@code {
    [Parameter] public BaseballHittingTotalsModel Totals { get; set; }
}
