<MudTable Items="@Rows" Hover="true" Class="border border-solid" Style="border-color: #000000">
    <HeaderContent>
        <MudTh Class="font-bold" Style="@($"background-color: {TeamColor}")">VS</MudTh>
        <MudTh Class="font-bold" Style="@($"background-color: {TeamColor}")">S</MudTh>
        <MudTh Class="font-bold" Style="@($"background-color: {TeamColor}")">W</MudTh>
        <MudTh Class="font-bold" Style="@($"background-color: {TeamColor}")">L</MudTh>
        <MudTh Class="font-bold" Style="@($"background-color: {TeamColor}")">IP</MudTh>
        <MudTh Class="font-bold" Style="@($"background-color: {TeamColor}")">H</MudTh>
        <MudTh Class="font-bold" Style="@($"background-color: {TeamColor}")">R</MudTh>
        <MudTh Class="font-bold" Style="@($"background-color: {TeamColor}")">BB</MudTh>
        <MudTh Class="font-bold" Style="@($"background-color: {TeamColor}")">K</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Opposing Team" Style="font-size: 12px;">
            <div style="display: flex; align-items: center; gap: 6px;">
                <PlayerAvatar Image="@context.OpposingTeamImage" />
                <span>@context.OpposingTeam</span>
            </div>
        </MudTd>
        @if (context.BaseballStatsModel.PitchingStats.Start)
        {
            <MudTd DataLabel="S"><MudIcon Color="@Color.Success" Style="font-size: 14px;" Icon="@Icons.Material.Filled.Check" /></MudTd>
        }
        else
        {
            <MudTd DataLabel="S"></MudTd>
        }
        <MudTd DataLabel="W">@context.BaseballStatsModel.PitchingStats.Wins</MudTd>
        <MudTd DataLabel="L">@context.BaseballStatsModel.PitchingStats.Losses</MudTd>
        <MudTd DataLabel="IP" Style="margin-left: 5px; font-size: .875rem;">@context.BaseballStatsModel.PitchingStats.Innings</MudTd>
        <MudTd DataLabel="H">@context.BaseballStatsModel.PitchingStats.HitsAllowed</MudTd>
        <MudTd DataLabel="R">@context.BaseballStatsModel.PitchingStats.Runs</MudTd>
        <MudTd DataLabel="BB" Style="margin-left: 5px; font-size: .875rem;">@context.BaseballStatsModel.PitchingStats.WalksAllowed</MudTd>
        <MudTd DataLabel="K">@context.BaseballStatsModel.PitchingStats.PitchingStrikeouts</MudTd>
    </RowTemplate>
</MudTable>

@code {
    [Parameter] public IEnumerable<PlayerStatRecord> Rows { get; set; }
    [Parameter] public string TeamColor { get; set; }
}
