@inherits LayoutComponentBase
@inject ILocalStorageService localStorage

<MudThemeProvider @ref="_mudThemeProvider" @bind-IsDarkMode="@_isDarkMode" Theme="MyCustomTheme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar>
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudSpacer />
        <AuthorizeView Roles="@String.Concat(Roles.UpdateLeagues, " , ", Roles.ReadLeagues, " , ", Roles.SupportLeagues)">
            <Authorized>
                <MudIconButton Icon="@Icons.Material.Filled.Cached" Color="Color.Inherit" OnClick="@ClearCache" />
            </Authorized>
        </AuthorizeView>
        <MudSwitch @bind-Value="_isDarkMode" Color="Color.Secondary" Class="ma-4" T="bool" ThumbIcon="@(_isDarkMode ? Icons.Material.Filled.ModeNight : Icons.Material.Filled.WbSunny)"/>
        <MudIconButton Icon="@Icons.Material.Filled.Person" Color="Color.Inherit" OnClick="@ToggleOpen" />
        <MudPopover Open="_open" Style="padding-top: 30px;" Fixed="true" OverflowBehavior="OverflowBehavior.FlipAlways" AnchorOrigin="Origin.CenterRight" TransformOrigin="Origin.CenterRight" Paper="false">
            <MudPaper Outlined="true" Class="d-flex flex-column pa-1">
                <AuthorizeView> 
                    <Authorized>
                        <form method="post" action="authentication/signout" style="display:inline;">
                            <AntiforgeryToken />
                            <MudStack>
                                <MudText>Hello, @context.User.Identity?.Name!</MudText>
                                <MudStack Row="true" AlignItems="AlignItems.Center">
                                    <MudIcon Icon="@Icons.Material.Filled.Person"></MudIcon>
                                    <button type="submit" class="mud-nav-link">Log out</button>
                                </MudStack>
                            </MudStack>
                        </form>
                    </Authorized>
                    <NotAuthorized>
                        <MudNavLink Href="/authentication/login" Icon="@Icons.Material.Filled.Person">Log In</MudNavLink>
                    </NotAuthorized>
                </AuthorizeView>
            </MudPaper>
        </MudPopover>
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen">
        <MyNavMenu />
    </MudDrawer>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Medium">
            @Body
        </MudContainer>
    </MudMainContent>
    <MudScrollToTop>
        <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.ArrowCircleUp" />
    </MudScrollToTop>
</MudLayout>
@code {
    bool _drawerOpen = false;
    private string version = string.Empty;
    private string date = DateTime.Now.Year.ToString();
    private bool _open = false;
    private bool _isDarkMode;
    private MudThemeProvider _mudThemeProvider;

    protected override async Task OnInitializedAsync()
    {
        var assembly = Assembly.GetExecutingAssembly();
        version = assembly.GetName().Version.ToString();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _isDarkMode = await _mudThemeProvider.GetSystemPreference();
            await _mudThemeProvider.WatchSystemPreference(OnSystemDarkModeChanged);
            StateHasChanged();
        }
    }

    private Task OnSystemDarkModeChanged(bool newValue)
    {
        _isDarkMode = newValue;
        StateHasChanged();
        return Task.CompletedTask;
    }

    private async Task ClearCache()
    {
        await localStorage.ClearAsync();
    }

    private void ToggleOpen() => _open = !_open;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    MudTheme MyCustomTheme = new MudTheme()
    {
        PaletteLight = new PaletteLight()
        {
            Primary = "#0d0a5a",
            Secondary = "#98dc24",
            Tertiary = "#008E8F",
            AppbarBackground = "#0d0a5a",
            TextPrimary = "#0d0a5a"
        },
        PaletteDark = new PaletteDark()
        {
            Primary = "#751253",
            Secondary = "#9C5878",
            Tertiary = "#B07C92",
            AppbarBackground = "#751253",
            TextPrimary = "#FFFFFF",
            
        },
        Typography = new Typography()
        {
            Default = new DefaultTypography()
            {
                FontFamily = new[] { "Poppins", "Helvetica", "Arial", "sans-serif", "Pacifico", "cursive" }
            }
        }
    };

}
