<MudItem Style="padding-top: 25px;">
    <MudSimpleTable Class="border border-solid" Style="border-color: #000000">
        <thead>
            <tr class="mud-theme-primary">
                <th></th>
                <th>PTS</th>
                <th>REB</th>
                <th>AST</th>
                <th>BLK</th>
                <th>STL</th>
                <th>TO</th>
                <th>FGM</th>
                <th>FGA</th>
                <th>3PM</th>
                <th>3PA</th>
                <th>FTM</th>
                <th>FTA</th>
                <th>FOUL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Totals:</td>
                <td>@Totals.Points</td>
                <td>@Totals.Rebounds</td>
                <td>@Totals.Assists</td>
                <td>@Totals.Blocks</td>
                <td>@Totals.Steals</td>
                <td>@Totals.Turnovers</td>
                <td>@Totals.FieldGoalsMade</td>
                <td>@Totals.FieldGoalsAttempted</td>
                <td>@Totals.ThreePointersMade</td>
                <td>@Totals.ThreePointersAttempted</td>
                <td>@Totals.FreeThrowsMade</td>
                <td>@Totals.FreeThrowsAttempted</td>
                <td>@Totals.Fouls</td>
            </tr>
        </tbody>
    </MudSimpleTable>
</MudItem>

@code {
    [Parameter] public BasketballTotalsModel Totals { get; set; }
}
