@page "/updateplayer/{id}"
@inject IPlayerService PlayerService
@inject ITeamService TeamService
@inject ILeagueService LeagueService
@inject NavigationManager NavManager
@using System.ComponentModel.DataAnnotations

@if (PageLoad)
{
    // Add select option when more leagues are created
    // Add image selection when next version is worked
    <div style="padding-top: 150px; padding-bottom: 175px;">
        <MudText Typo="Typo.h3" Style="font-weight: bold; padding-bottom: 25px;" Align="Align.Center" Color="Color.Primary">Update Player</MudText>
        <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <MudGrid>
                <MudItem xs="12" sm="7">
                    <MudCard>
                        <MudCardContent>
                            <MudText Typo="Typo.body1" Style="font-weight: bold; padding-top: 5px; padding-bottom: 5px;">Person Information:</MudText>
                            <MudTextField Label="First Name" HelperText="Max. 50 characters"
                            @bind-Value="model.FirstName" For="@(() => model.FirstName)" />
                            <MudTextField Label="Last Name" HelperText="Max. 50 characters"
                            @bind-Value="model.LastName" For="@(() => model.LastName)" />
                            <MudSelect Label="Team" Class="mt-3" @bind-Value="model.TeamId">
                                @foreach (var team in TeamsResponse.Teams.Data)
                                {
                                    <MudSelectItem Value="team.Id">@team.TeamName</MudSelectItem>
                                }
                            </MudSelect>
                            <MudTextField Label="Description" Class="mt-3"
                            @bind-Value="model.Description" For="@(() => model.Description)" />
                            <MudItem Style="padding-top: 20px;">
                                <MudStack Row="true">
                                    <MudCheckBox @bind-Value="uploadFile" Color="Color.Primary"></MudCheckBox>
                                    <MudFileUpload @ref="@_fileUpload"
                                                   T="IBrowserFile"
                                                   Disabled="@(uploadFile == true ? false : true)"
                                                   For="@(() => model.File)"
                                                   @bind-Files="model.File">
                                        <ActivatorContent>
                                            <MudButton Variant="Variant.Filled"
                                                       Color="Color.Primary"
                                                       StartIcon="@Icons.Material.Filled.CloudUpload">
                                                Player Image
                                            </MudButton>
                                        </ActivatorContent>
                                    </MudFileUpload>
                                    @if (model.File != null && uploadFile == true)
                                    {
                                        <MudText Typo="@Typo.h6">@model.File.Name</MudText>
                                    }
                                </MudStack>
                            </MudItem>

                        </MudCardContent>
                    </MudCard>
                </MudItem>
                <MudItem xs="12" sm="5">
                    <MudPaper Class="pa-4 mud-height-full">
                        <MudText Typo="Typo.subtitle2">Validation Summary</MudText>
                        @if (success)
                        {
                            <MudText Color="Color.Success">Success</MudText>
                        }
                        else
                        {
                            <MudText Color="@Color.Error">
                                <ValidationSummary />
                            </MudText>
                        }
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" sm="7">
                    <MudCard>
                        <MudCardContent>
                            <MudText Typo="Typo.body1" Style="font-weight: bold; padding-top: 5px; padding-bottom: 5px;">Person Details:</MudText>
                            <MudTextField Label="Email Address" Class="mt-3"
                                          @bind-Value="model.EmailAddress" For="@(() => model.EmailAddress)" />
                            <MudTextField Label="Phone Number" Class="mt-3"
                                          @bind-Value="model.PhoneNumber" For="@(() => model.PhoneNumber)" />
                            <MudDatePicker Class="mt-3" Label="Birth Date" Editable="true" @bind-Date="date" />
                            <MudNumericField Label="Height" Class="mt-3"
                                             @bind-Value="model.Height" For="@(() => model.Height)" />
                            <MudNumericField Label="Weight" Class="mt-3"
                                             @bind-Value="model.Weight" For="@(() => model.Weight)" />
                            <MudSelect Class="mt-3" Label="Position" @bind-Value="model.Position">
                                @foreach (var position in Constants.Positions(sport))
                                {
                                    <MudSelectItem Value="position">@position</MudSelectItem>
                                }
                            </MudSelect>                            
                        </MudCardContent>
                    </MudCard>
                </MudItem>
                <MudItem xs="12" sm="7">
                    <MudCard>
                        <MudCardContent>
                            <MudText Typo="Typo.body1" Style="font-weight: bold; padding-top: 5px; padding-bottom: 5px;">Address:</MudText>
                            <MudTextField Label="Address Line" Class="mt-3"
                                          @bind-Value="model.AddressLine" For="@(() => model.AddressLine)" />
                            <MudSelect Class="mt-3" Label="State" @bind-Value="model.State">
                                @foreach (var state in states)
                                {
                                    <MudSelectItem Value="state">@state</MudSelectItem>
                                }
                            </MudSelect>
                            <MudTextField Label="Country" Class="mt-3"
                                          @bind-Value="model.Country" For="@(() => model.Country)" />
                            <MudTextField Label="Zip Code" Class="mt-3"
                                          @bind-Value="model.ZipCode" For="@(() => model.ZipCode)" />
                        </MudCardContent>
                        <MudCardActions>
                            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" FullWidth="true">Update</MudButton>
                        </MudCardActions>
                    </MudCard>
                </MudItem>
                <MudItem xs="12">
                    <MudText Typo="Typo.body2" Align="Align.Center">
                        Fill out the form correctly to see the success message.
                    </MudText>
                </MudItem>
            </MudGrid>
        </EditForm>

    </div>

}
else
{
    <Loading />
}


@code {
    [Parameter]
    public string Id { get; set; }

    private bool PageLoad = false;
    private GetPlayerByIdResponse PlayerByIdResponse { get; set; }
    private GetTeamsResponse TeamsResponse { get; set; }
    private List<string> states;
    UpdatePlayerForm model = new UpdatePlayerForm();
    bool success;
    DateTime? date;
    string sport = string.Empty;
    bool uploadFile = false;
    private MudFileUpload<IBrowserFile> _fileUpload;


    public class UpdatePlayerForm
    {
        [Required]
        public Guid Id { get; set; }

        [Required]
        public Guid TeamId { get; set; }

        [Required]
        [StringLength(50, ErrorMessage = "First Name length can't be more than 50.")]
        public string FirstName { get; set; }

        [Required]
        [StringLength(50, ErrorMessage = "Last Name length can't be more than 50.")]
        public string LastName { get; set; }

        [Required]
        public string AddressLine { get; set; }

        [Required]
        public string State { get; set; }

        [Required]
        public string Country { get; set; }

        [Required]
        [RegularExpression(@"^\d{5}(-\d{4})?$", ErrorMessage = "Invalid Zip Code")]
        public string ZipCode { get; set; }

        [Required]
        [EmailAddress]
        public string EmailAddress { get; set; }

        [Required]
        [RegularExpression(@"^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$", ErrorMessage = "Not a valid phone number")]
        public string PhoneNumber { get; set; }

        [Required]
        public DateTime BirthDate { get; set; }

        [Required]
        public int Height { get; set; }

        [Required]
        public int Weight { get; set; }

        [Required]
        public string Position { get; set; }

        public string Description { get; set; }

        [Required]
        public string ImageFile { get; set; }

        public IBrowserFile File { get; set; }


        public PlayerStatus PlayerStatus { get; set; }

    }

    protected override async Task OnInitializedAsync()
    {
        var playerId = Guid.Parse(Id);
        PlayerByIdResponse = await PlayerService.GetPlayerById(playerId);
        TeamsResponse = await TeamService.GetTeams();
        var team = await TeamService.GetTeamById(PlayerByIdResponse.Player.TeamId);
        var league = await LeagueService.GetLeague(team.Team.LeagueId);
        sport = league.League.Sport;
        states = Constants.States();
        model.Id = PlayerByIdResponse.Player.Id;
        model.TeamId = PlayerByIdResponse.Player.TeamId;
        model.FirstName = PlayerByIdResponse.Player.FirstName;
        model.LastName = PlayerByIdResponse.Player.LastName;
        model.AddressLine = PlayerByIdResponse.Player.PlayerAddress.AddressLine;
        model.State = PlayerByIdResponse.Player.PlayerAddress.State;
        model.Country = PlayerByIdResponse.Player.PlayerAddress.Country;
        model.ZipCode = PlayerByIdResponse.Player.PlayerAddress.ZipCode;
        model.EmailAddress = PlayerByIdResponse.Player.PlayerDetail.EmailAddress;
        model.PhoneNumber = PlayerByIdResponse.Player.PlayerDetail.PhoneNumber;
        date = PlayerByIdResponse.Player.PlayerDetail.BirthDate;
        model.Height = PlayerByIdResponse.Player.PlayerDetail.Height;
        model.Weight = PlayerByIdResponse.Player.PlayerDetail.Weight;
        model.Position = PlayerByIdResponse.Player.PlayerDetail.Position;
        model.Description = PlayerByIdResponse.Player.Description;
        model.ImageFile = PlayerByIdResponse.Player.ImageFile;
        model.PlayerStatus = PlayerByIdResponse.Player.PlayerStatus;
        PageLoad = true;
    }

    private async Task OnValidSubmit(EditContext context)
    {
        if(uploadFile == true)
        {
            model.ImageFile = model.File.Name;
            string rootpath = @"C:\Development\league-builder\src\WebApps\League.Builder.Web\wwwroot\images";
            FileStream filestream = new FileStream(rootpath, FileMode.Create, FileAccess.Write);
            await model.File.OpenReadStream().CopyToAsync(filestream);
        }
        model.BirthDate = (DateTime)date;
        Models.Player.AddressModel address = new Models.Player.AddressModel(model.AddressLine, model.Country, model.State, model.ZipCode);
        Models.Player.PlayerDetailModel playerDetail = new Models.Player.PlayerDetailModel(model.EmailAddress, model.PhoneNumber, model.BirthDate, model.Height, model.Weight, model.Position);
        UpdatePlayerRequest request = new UpdatePlayerRequest(new UpdatePlayerModel(model.Id, model.TeamId, model.FirstName, model.LastName, address, playerDetail, model.Description, model.ImageFile, (int)model.PlayerStatus));
        Console.WriteLine(request.Player.PlayerStatus);
        await PlayerService.UpdatePlayer(request);
        success = true;
        NavManager.NavigateTo($"/playersbyteam/{model.TeamId.ToString()}");
        StateHasChanged();
    }
}
