<MudItem Style="padding-top: 25px;">
    <MudSimpleTable Class="border border-solid" Style="border-color: #000000">
        <thead>
            <tr class="mud-theme-primary">
                <th></th>
                <th>FG</th>
                <th>FGA</th>
                <th>XPM</th>
                <th>XPA</th>
                <th>PTS</th>
                <th>PUNTS</th>
                <th>YDS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Totals:</td>
                <td>@Totals.FieldGoalsMade</td>
                <td>@Totals.FieldGoalsAttempted</td>
                <td>@Totals.ExtraPointsMade</td>
                <td>@Totals.ExtraPointsAttempted</td>
                <td>@Totals.Points</td>
                <td>@Totals.Punts</td>
                <td>@Totals.PuntingYards</td>
            </tr>
        </tbody>
    </MudSimpleTable>
</MudItem>


@code {
    [Parameter] public FootballKickingTotalsModel Totals { get; set; }

}
